<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.po.workOrderAdmMapper">

	<resultMap id="WorkOrderAdmVo" type="mes.domain.po.WorkOrderAdmVo">
		<result property="workOrdNo"				column="WORK_ORD_NO"			/>
		<result property="upperWorkOrdNo"			column="UPPER_WORK_ORD_NO"		/>
		<result property="preWorkOrdNo"				column="PRE_WORK_ORD_NO"		/>
		<result property="contDtlNo"				column="CONT_DTL_NO"			/>
		<result property="workOrdDate"				column="WORK_ORD_DATE"			/>
		<result property="workEmerYn"				column="WORK_EMER_YN"			/>
		<result property="itemSeq"					column="ITEM_SEQ"				/>
		<result property="itemCd"					column="ITEM_CD"				/>
		<result property="itemNm"					column="ITEM_NM"				/>
		
		<result property="itemGubun"				column="ITEM_GUBUN"				/>
		<result property="itemGubunNm"				column="ITEM_GUBUN_NM"			/>
		
		<result property="itemColor"				column="ITEM_COLOR"				/>
		
		<result property="recipeCount"				column="RECIPE_COUNT"			/>
		<result property="hallCount"				column="HALL_COUNT"				/>
		<result property="pnlSize"					column="PNL_SIZE"				/>
		<result property="cutSize"					column="CUT_SIZE"				/>
		<result property="equipCd"					column="EQUIP_CD"				/>
		<result property="equipNm"					column="EQUIP_NM"				/>
		<result property="workGubun"				column="WORK_GUBUN"				/>
		
		<result property="rcvChargr"				column="RCV_CHARGR"				/>
		<result property="rcvChargrNm"				column="RCV_CHARGR_NM"			/>
		<result property="workChargr"				column="WORK_CHARGR"			/>
		<result property="workChargrNm"				column="WORK_CHARGR_NM"			/>
		
		<result property="processStatus"			column="PROCESS_STATUS"			/>
		<result property="workStatus"				column="WORK_STATUS"			/>
		<result property="workStartDate"			column="WORK_START_DATE"		/>
		<result property="workEndDate"				column="WORK_END_DATE"			/>
		<result property="checkStatus"				column="CHECK_STATUS"			/>
		<result property="checkStartDate"			column="CHECK_START_DATE"		/>
		<result property="checkEndDate"				column="CHECK_END_DATE"			/>
		<result property="checkPass"				column="CHECK_PASS"				/>
		<result property="lotNo"					column="LOT_NO"					/>
			
		<result property="dtlOrdCnt"				column="DTL_ORD_CNT"			/>
		<result property="workRate"					column="WORK_RATE"				/>
		<result property="nonTime"					column="NON_TIME"				/>
		
		<result property="outputQty"				column="OUTPUT_QTY"				/>
		<result property="fairQty"					column="FAIR_QTY"				/>
		<result property="faultyQty"				column="FAULTY_QTY"				/>
		<result property="lastYn"					column="LAST_YN"				/>
		<result property="reworkYn"					column="REWORK_YN"				/>
		<result property="ordDesc"					column="ORD_DESC"				/>
		<result property="regId"                    column="REG_ID"					/>
		<result property="regDate"                  column="REG_DATE"				/>
		<result property="updId"                    column="UPD_ID"					/>
		<result property="updDate"                  column="UPD_DATE"				/>
		<result property="contGubun"                column="CONT_GUBUN"				/>
		<result property="contGubunNm"              column="CONT_GUBUN_NM"			/>
		<result property="ordCorpCd"                column="ORD_CORP_CD"			/>
		<result property="ordCorpNm"             	column="ORD_CORP_NM"			/>
		<result property="mainGubun"             	column="MAIN_GUBUN"				/>
		<result property="workRegYn"             	column="WORK_REG_YN"			/>
		
		
		<result property="capInputCount"			column="CapInputCount"			/>
		<result property="capOutputCount"			column="CapOutputCount"			/>
		<result property="capFaultyCount"			column="CapFaultyCount"			/>
		<result property="capOperStatus"			column="CapOperStatus"			/>
		<result property="weight"         			column="Weight"					/>
		<result property="speed"    	        	column="Speed"					/>
		<result property="packInputCount"           column="PackInputCount"			/>
		<result property="packOutputCount"          column="PackOutputCount"		/>
		<result property="packFaultyCount"          column="PackFaultyCount"		/>
	
		<result property="packOperStatus"           column="PackOperStatus"			/>
		<result property="boxLoadCount"             column="BoxLoadCount"			/>
		<result property="boxTappingCount"          column="BoxTappingCount"		/>
		<result property="boxPalletCount"           column="BoxPalletCount"			/>
		<result property="boxWorkOrderNo"           column="BoxWorkOrderNo"			/>
		<result property="boxMoldCount"          	column="BoxMoldCount"			/>
		<result property="fillingWt"         		column="FILLING_WT"				/>
		<result property="fillingCount"    	        column="FILLING_COUNT"			/>
		<result property="processTime"    	        column="PROCESS_TIME"			/>
		<result property="boxCount"           		column="BOX_COUNT"				/>
		
		
		
		<result property="boxIdx"           		column="BOX_IDX"				/>
		<result property="boxLabelNo"          		column="BOX_LABEL_NO"			/>
		<result property="boxLabelDate"         	column="BOX_LABEL_DATE"			/>
		<result property="boxLabelChargr"    	    column="BOX_LABEL_CHARGR"		/>
		<result property="boxLabelChargrNm"    	    column="BOX_LABEL_CHARGR_NM"		/>
		<result property="boxFillCnt"    	        column="BOX_FILL_CNT"			/>
		<result property="labelPrintYn"           	column="LABEL_PRINT_YN"			/>
		<result property="boxLabelDesc"           	column="BOX_LABEL_DESC"			/>
		
		<result property="totalOutputQty"    	        column="TOTAL_OUTPUT_QTY"			/>
		<result property="totalFairQty"           	column="TOTAL_FAIR_QTY"			/>
		<result property="totalFaultyQty"           	column="TOTAL_FAULTY_QTY"			/>
	</resultMap>
	
	<!-- 생산실적(후가공) 정보 -->
	<select id="workOrderFinishListByWorkOrdNo" resultMap="WorkOrderAdmVo">
		SELECT 
			WOA.WORK_ORD_NO,
			WOA.EQUIP_CD,
			(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD=WOA.EQUIP_CD) EQUIP_NM,
			BOD.CONT_DTL_NO,
			BOD.DTL_ORD_CNT,
			WOA.WORK_ORD_DATE,
			WOA.WORK_CHARGR,
			WOA.WORK_STATUS,
			WOA.WORK_START_DATE,
			WOA.WORK_END_DATE,
			WOA.ITEM_SEQ,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			IIA.MAIN_GUBUN,
			IIA.FILLING_WT,
			IIA.FILLING_COUNT,
			IIA.PROCESS_TIME,
			IIA.BOX_COUNT,
			FO.CapInputCount,
			FO.CapOutputCount,
			FO.CapFaultyCount,
			FO.CapOperStatus,
			FO.Weight,
			FO.Speed,
			FO.PackInputCount,
			FO.PackOutputCount,
			FO.PackFaultyCount,
			FO.PackOperStatus,
			FO.BoxLoadCount,
			FO.BoxTappingCount,
			FO.BoxPalletCount,
			FO.BoxWorkOrderNo,
			FO.BoxCount BoxMoldCount
		FROM TB_WORK_ORDER_ADM WOA
		LEFT OUTER JOIN TB_FINISH_OPER_INFO FO
		ON WOA.WORK_ORD_NO=FO.WorkOrdNo
		LEFT OUTER JOIN TB_BIZ_ORDER_DTL BOD
		ON WOA.CONT_DTL_NO=BOD.CONT_DTL_NO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WOA.ITEM_SEQ=IIA.ITEM_SEQ
		WHERE 1=1
		AND IIA.MAIN_GUBUN='002'
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND WORK_ORD_NO=#{workOrdNo}
		</if>
		<if test="workStatus!=null and !workStatus.equals('')">
		AND WORK_STATUS=#{workStatus}
		</if>
		<if test="equipCd!=null and !equipCd.equals('')">
		AND WOA.EQUIP_CD=#{equipCd}
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND WOA.WORK_ORD_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY WOA.WORK_ORD_DATE,WOA.EQUIP_CD,WOA.WORK_ORD_NO
	</select>
	
	<!-- 생산실적(레이저) 정보 -->
	<select id="workOrderRaserListByWorkOrdNo" resultMap="WorkOrderAdmVo">
		SELECT 
			WO.WORK_ORD_NO,
			WO.WORK_ORD_DATE,
			WO.WORK_GUBUN,
			WO.WORK_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=WO.WORK_CHARGR) WORK_CHARGR_NM,
			WO.CHECK_PASS,
			WO.LOT_NO,
			WO.ITEM_SEQ,
			IIA.MAIN_GUBUN,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			IIA.RECIPE_COUNT,
			IIA.HALL_COUNT,
			IIA.ITEM_COLOR PNL_SIZE,
			IIA.CUT_SIZE,
			WO.EQUIP_CD,
			(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD=WO.EQUIP_CD) EQUIP_NM,
			LASER_OPER.ProcessStatus,
			LASER_OPER.WorkStatus,
			LASER_OPER.WorkStartDate,
			LASER_OPER.WorkEndDate,
			LASER_OPER.WorkStopDate,
			LASER_OPER.WorkRestartDate,
			LASER_OPER.WorkCancelDate,
			WO.CHECK_STATUS,
			LASER_OPER.CheckStartDate,
			WO.CHECK_END_DATE,
			LASER_OPER.CheckStopDate,
			LASER_OPER.CheckRestartDate,
			LASER_OPER.CheckCancelDate,
			(CASE WHEN WO.WORK_STATUS IS NULL THEN 'N' ELSE 'Y' END) WORK_REG_YN
		FROM
		TB_WORK_ORDER_ADM WO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WO.ITEM_SEQ=IIA.ITEM_SEQ
		LEFT OUTER JOIN 
		(
		SELECT
			WorkOrdNo,
			ProcessStatus,
			WorkStatus,
			WorkStartDate,
			WorkEndDate,
			WorkStopDate,
			WorkRestartDate,
			WorkCancelDate,
			CheckStatus,
			CheckStartDate,
			CheckEndDate,
			CheckStopDate,
			CheckRestartDate,
			CheckCancelDate,
			RegDate,
			ROW_NUMBER() OVER (PARTITION BY WorkOrdNo ORDER BY RegDate DESC) AS RANK_NO
		FROM TB_LASER_OPER_INFO
		GROUP BY
			WorkOrdNo,
			ProcessStatus,
			WorkStatus,
			WorkStartDate,
			WorkEndDate,
			WorkStopDate,
			WorkRestartDate,
			WorkCancelDate,
			CheckStatus,
			CheckStartDate,
			CheckEndDate,
			CheckStopDate,
			CheckRestartDate,
			CheckCancelDate,
			RegDate
		)LASER_OPER
		ON WO.WORK_ORD_NO=LASER_OPER.WorkOrdNo
		AND LASER_OPER.RANK_NO = 1
		WHERE 1=1
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND WorkOrdNo = #{workOrdNo}
		</if>
		<if test="contDtlNo!=null and !contDtlNo.equals('')">
		AND CONT_DTL_NO=#{contDtlNo}
		</if>
		<if test="equipCd!=null and !equipCd.equals('')">
		AND EQUIP_CD=#{equipCd}
		</if>
		<if test="workStatus!=null and !workStatus.equals('')">
		AND WorkStatus=#{workStatus}
		</if>
		<if test="workYn!=null and !workYn.equals('')">
		AND WorkStatus IS NOT NULL
		</if>
		<if test="checkYn!=null and !checkYn.equals('')">
		AND CheckStatus IS NOT NULL
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND WO.WORK_ORD_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY WO.WORK_ORD_DATE,WO.EQUIP_CD,WO.WORK_ORD_NO
	</select>
	
	
	<!-- 생산실적(레이저) 누적 정보 -->
	<select id="workOrderRaserAccList" resultMap="WorkOrderAdmVo">
		SELECT
			Z.DTL_ORD_CNT DTL_ORD_CNT,
			SUM(Z.OUTPUT_QTY) OUTPUT_QTY,
			ROUND((SUM(Z.OUTPUT_QTY)/Z.DTL_ORD_CNT)*100,2) WORK_RATE,
			SUM(Z.FAIR_QTY) FAIR_QTY,
			SUM(Z.FAULTY_QTY) FAULTY_QTY,
			SUM(Z.NON_TIME) NON_TIME
		FROM
		(
			SELECT 
				BOD.CONT_DTL_NO,
				WOA.WORK_ORD_NO,
				ISNULL(CONVERT(FLOAT,BOD.DTL_ORD_CNT),0) DTL_ORD_CNT,
				ISNULL(CONVERT(FLOAT,WOA.OUTPUT_QTY),0) OUTPUT_QTY,
				ISNULL(CONVERT(FLOAT,WOA.FAIR_QTY),0) FAIR_QTY,
				ISNULL(CONVERT(FLOAT,WOA.FAULTY_QTY),0) FAULTY_QTY,
				ISNULL(CONVERT(INT,LASER_NON.NON_TIME),0) NON_TIME
			FROM TB_BIZ_ORDER_DTL BOD
			LEFT OUTER JOIN TB_WORK_ORDER_ADM WOA
			ON BOD.CONT_DTL_NO=WOA.CONT_DTL_NO
			LEFT OUTER JOIN TB_LASER_OPER_INFO LASER_WORK
			ON WOA.WORK_ORD_NO=LASER_WORK.WorkOrdNo
			AND LASER_WORK.WorkStatus='E'
			AND LASER_WORK.CheckStatus='E'
			LEFT OUTER JOIN TB_LASER_OPER_INFO LASER_CHECK
			ON WOA.WORK_ORD_NO=LASER_CHECK.WorkOrdNo
			AND LASER_CHECK.WorkStatus='E'
			AND LASER_CHECK.WorkStatus='E'
			LEFT OUTER JOIN(
				SELECT
					WorkOrdNo,
					SUM((CASE WHEN WorkStopDate!='' AND WorkRestartDate!='' THEN DATEDIFF(MI,WorkStopDate,WorkRestartDate) ELSE '' END)) NON_TIME
				FROM TB_LASER_OPER_INFO 
				GROUP BY WorkOrdNo
			)LASER_NON
			ON WOA.WORK_ORD_NO=LASER_NON.WorkOrdNo
			
			WHERE BOD.CONT_DTL_NO=(
							SELECT 
								BOD.CONT_DTL_NO
							FROM TB_WORK_ORDER_ADM WOA
							LEFT OUTER JOIN TB_BIZ_ORDER_DTL BOD
							ON WOA.CONT_DTL_NO=BOD.CONT_DTL_NO
							WHERE 1=1
							AND WOA.WORK_ORD_NO=#{workOrdNo}
						)
		)Z

		GROUP BY DTL_ORD_CNT
	</select>
	
	<!-- 생산시작인 작업지시번호 조회 -->
	<select id="workStartGetWorkOrdNo" resultType="String">
		SELECT TOP(1) WORK_ORD_NO
		FROM TB_WORK_ORDER_ADM WO 
		WHERE 1=1 
		AND WO.EQUIP_CD=#{equipCd}
		AND WORK_STATUS='S'
		ORDER BY REG_DATE ASC, WORK_ORD_NO ASC
			
		<!-- SELECT TOP(1) WO.WORK_ORD_NO 
		FROM ( 
			SELECT WORK_ORD_NO 
			FROM TB_WORK_ORDER_ADM WO 
			WHERE 1=1 
			AND WO.EQUIP_CD=#{equipCd}
		) WO 
		LEFT OUTER JOIN TB_LASER_OPER_INFO LO 
		ON LO.WorkOrdNo=WO.WORK_ORD_NO 
		WHERE 1=1 
		AND WorkStatus = 'S' 
		ORDER BY WorkStartDate DESC  -->
	</select>
	
	<!-- 작업지시번호 가동여부 확인 -->
	<select id="workOrdNoExist" resultType="int">
		SELECT	COUNT(*)
		FROM TB_WORK_ORDER_ADM 
		WHERE 1=1
		AND WORK_ORD_NO=#{workOrdNo}
	</select>
	
	<!-- 생산실적(레이저) 작업지시번호 채번 -->
	<select id="workOrderAdmGetWorkOrdNo" resultType="String">
		<![CDATA[
			SELECT
				ISNULL(CONCAT(CONVERT(CHAR(8), GETDATE(), 112),'-', FORMAT(ISNULL(MAX(SUBSTRING(WORK_ORD_NO, 10, 3)),'00')+1, '000')), CONCAT(CONVERT(CHAR(8), GETDATE(), 112),'-','001'))
			FROM TB_WORK_ORDER_ADM
			WHERE 1=1
			AND LEFT(WORK_ORD_NO,8) = CONVERT(CHAR(8), GETDATE(), 112)
		]]>
	</select>
	
	<!-- 생산실적(레이저) 작업지시등록 -->
	<insert id="workOrderAdmIns" parameterType="java.util.List">
		<![CDATA[
			INSERT INTO TB_WORK_ORDER_ADM (
				WORK_ORD_NO,
				CONT_DTL_NO,
				EQUIP_CD,
				ITEM_SEQ,
				REG_ID,
				REG_DATE
			) VALUES
		]]>
		<foreach collection="list" item="item" separator=",">
			(
				'${item.workOrdNo}',
				'${item.contDtlNo}',
				'${item.equipCd}',
				'${item.itemSeq}',
				'${item.regId}',
				GETDATE()
			)
		</foreach>
	</insert>
	
	<!-- 생산실적(레이저) 작업지시수정 -->
	<update id="workOrderAdmUpd">
		UPDATE	TB_WORK_ORDER_ADM 
		<set>
			<if test="upperWorkOrdNo!=null and !upperWorkOrdNo.equals('')">
			UPPER_WORK_ORD_NO = #{upperWorkOrdNo},
			</if>
			<if test="preWorkOrdNo!=null and !preWorkOrdNo.equals('')">
			PRE_WORK_ORD_NO = #{preWorkOrdNo},
			</if>
			<if test="workGubun!=null and !workGubun.equals('')">
			WORK_GUBUN = #{workGubun},
			</if>
			<if test="workChargr!=null and !workChargr.equals('')">
			WORK_CHARGR = #{workChargr},
			</if>
			<if test="workStatus!=null and !workStatus.equals('')">
			WORK_STATUS = #{workStatus},
			</if>
			<if test="workStartDate!=null and !workStartDate.equals('')">
			WORK_START_DATE = #{workStartDate},
			</if>
			<if test="workEndDate!=null and !workEndDate.equals('')">
			WORK_END_DATE = #{workEndDate},
			</if>
			<if test="checkStatus!=null and !checkStatus.equals('')">
			CHECK_STATUS = #{checkStatus},
			</if>
			<if test="checkStartDate!=null and !checkStartDate.equals('')">
			CHECK_START_DATE = #{checkStartDate},
			</if>
			<if test="checkEndDate!=null and !checkEndDate.equals('')">
			CHECK_END_DATE = #{checkEndDate},
			</if>
			<if test="checkPass!=null and !checkPass.equals('')">
			CHECK_PASS = #{checkPass},
			</if>
			<if test="lotNo!=null and !lotNo.equals('')">
			LOT_NO = #{lotNo},
			</if>
			<if test="outputQty!=null and !outputQty.equals('')">
			OUTPUT_QTY = #{outputQty},
			</if>
			<if test="fairQty!=null and !fairQty.equals('')">
			FAIR_QTY = #{fairQty},
			</if>
			<if test="faultyQty!=null and !faultyQty.equals('')">
			FAULTY_QTY = #{faultyQty},
			</if>
			<if test="lastYn!=null and !lastYn.equals('')">
			LAST_YN = #{lastYn},
			</if>
			<if test="reworkYn!=null and !reworkYn.equals('')">
			REWORK_YN = #{reworkYn},
			</if>
			
			<if test="workOrdDate!=null and !workOrdDate.equals('')">
			WORK_ORD_DATE = #{workOrdDate},
			</if>
			
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		</set>
		WHERE	WORK_ORD_NO = #{workOrdNo}

	</update>
	
	<!-- 생산실적(레이저) 작업지시삭제 -->
	<delete id="workOrderAdmDel" parameterType="mes.domain.po.WorkOrderAdmVo">
		<![CDATA[
			DELETE FROM TB_WORK_ORDER_ADM WHERE CONT_DTL_NO = #{contDtlNo}
		]]>
	</delete>
	
	<!-- 생산지시현황 (수주지시별) -->
	<select id="contNoAdmList" resultMap="WorkOrderAdmVo">
		SELECT 
			BOA.CONT_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=BOA.CONT_GUBUN AND X.BASE_GROUP_CD='045') CONT_GUBUN_NM,
			BOD.CONT_DTL_NO,
			BOA.RCV_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=BOA.RCV_CHARGR) RCV_CHARGR_NM,
			IIA.ITEM_SEQ,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_GUBUN AND X.BASE_GROUP_CD='079') ITEM_GUBUN_NM,
			IIA.CUT_SIZE,
			IIA.ITEM_COLOR,
			IIA.FILLING_WT,
			BOA.ORD_CORP_CD,
			(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=BOA.ORD_CORP_CD) ORD_CORP_NM,
			MAX(BOD.DTL_ORD_CNT) DTL_ORD_CNT,
			SUM(WOA.OUTPUT_QTY) OUTPUT_QTY,
			SUM(WOA.FAULTY_QTY) FAULTY_QTY
		FROM 
			TB_BIZ_ORDER_ADM BOA
			LEFT OUTER JOIN TB_BIZ_ORDER_DTL BOD
			ON BOA.CONT_NO=BOD.CONT_NO
			LEFT OUTER JOIN TB_WORK_ORDER_ADM WOA
			ON BOD.CONT_DTL_NO=WOA.CONT_DTL_NO
			LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
			ON WOA.ITEM_SEQ=IIA.ITEM_SEQ
		WHERE 1=1
			AND WOA.WORK_ORD_NO IS NOT NULL
			<if test="startDate!=null and !startDate.equals('')">
			AND CONVERT(CHAR(8), WOA.REG_DATE, 112) BETWEEN #{startDate} AND #{endDate}
			</if>
			<if test="itemGubun!=null and !itemGubun.equals('')">
			AND IIA.ITEM_GUBUN = #{itemGubun}
			</if>
			<if test="contGubun!=null and !contGubun.equals('')">
			AND BOA.CONT_GUBUN = #{contGubun}
			</if>
			<if test="mainGubun!=null and !mainGubun.equals('')">
			AND IIA.MAIN_GUBUN=#{mainGubun}
			</if>
		GROUP BY
			BOA.CONT_GUBUN,
			BOD.CONT_DTL_NO,
			BOA.RCV_CHARGR,
			IIA.ITEM_SEQ,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			IIA.CUT_SIZE,
			IIA.ITEM_COLOR,
			IIA.FILLING_WT,
			BOA.ORD_CORP_CD
	</select>
	
	<!-- 생산지시현황 (작업지시별) -->
	<select id="workOrderAdmList" resultMap="WorkOrderAdmVo">
		SELECT 
			BOA.CONT_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=BOA.CONT_GUBUN AND X.BASE_GROUP_CD='045') CONT_GUBUN_NM,
			BOD.CONT_DTL_NO,
			WOA.WORK_ORD_NO,
			WOA.WORK_ORD_DATE,
			WOA.EQUIP_CD,
			(SELECT X.EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD=WOA.EQUIP_CD) EQUIP_NM,
			WOA.WORK_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=WOA.WORK_CHARGR) WORK_CHARGR_NM,
			IIA.ITEM_SEQ,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_GUBUN AND X.BASE_GROUP_CD='079') ITEM_GUBUN_NM,
			IIA.CUT_SIZE,
			IIA.ITEM_COLOR,
			IIA.FILLING_WT,
			BOA.ORD_CORP_CD,
			(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=BOA.ORD_CORP_CD) ORD_CORP_NM,
			BOD.DTL_ORD_CNT,
			WOA.OUTPUT_QTY,
			WOA.FAULTY_QTY
		FROM TB_BIZ_ORDER_ADM BOA
		LEFT OUTER JOIN TB_BIZ_ORDER_DTL BOD
		ON BOA.CONT_NO=BOD.CONT_NO
		LEFT OUTER JOIN TB_WORK_ORDER_ADM WOA
		ON BOD.CONT_DTL_NO=WOA.CONT_DTL_NO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WOA.ITEM_SEQ=IIA.ITEM_SEQ
		WHERE 1=1
		AND WOA.WORK_ORD_NO IS NOT NULL
		<if test="startDate!=null and !startDate.equals('')">
		AND CONVERT(CHAR(8), WOA.REG_DATE, 112) BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="itemGubun!=null and !itemGubun.equals('')">
		AND IIA.ITEM_GUBUN = #{itemGubun}
		</if>
		<if test="contGubun!=null and !contGubun.equals('')">
		AND BOA.CONT_GUBUN = #{contGubun}
		</if>
		<if test="mainGubun!=null and !mainGubun.equals('')">
		AND IIA.MAIN_GUBUN=#{mainGubun}
		</if>
	</select>
	
	
	<!-- 작업지시 이전작업지시 조회 -->
	<select id="preWorkOrdNoList" resultMap="WorkOrderAdmVo">
		SELECT 
			WOA.WORK_ORD_NO
		FROM TB_WORK_ORDER_ADM WOA
		LEFT OUTER JOIN 
		(
			SELECT 
				CONT_DTL_NO
			FROM TB_WORK_ORDER_ADM
			WHERE 1=1
			AND WORK_ORD_NO=#{workOrdNo}
		)T
		ON WOA.CONT_DTL_NO=T.CONT_DTL_NO
		WHERE 1=1
		AND WORK_ORD_NO <![CDATA[<=]]> #{workOrdNo}
		ORDER BY WORK_ORD_NO DESC
	</select>
	

	<!-- 생산실적 수량 수정 -->
	<update id="workOrderAdmQtyUpd">
		UPDATE TB_WORK_ORDER_ADM 
		SET 
			FAIR_QTY = FAIR_QTY + #{fairQty},
			FAULTY_QTY = FAULTY_QTY - #{fairQty}
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
	</update>
	
	
	
	<!-- 박스라벨 -->
	<!-- 박스라벨 목록조회 -->
	<select id="boxLabelAdmList" resultMap="WorkOrderAdmVo">
		SELECT	
			BLA.WORK_ORD_NO
			,WO.ITEM_SEQ
			,IIA.ITEM_CD
			,IIA.ITEM_NM
			,WO.EQUIP_CD
			,(SELECT EQUIP_NM FROM TB_EQUIP_CODE_ADM X WHERE X.EQUIP_CD=WO.EQUIP_CD) EQUIP_NM
			,BOX_IDX
			,BOX_LABEL_NO
			,BOX_LABEL_DATE
			,BOX_LABEL_CHARGR 
			,(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=BOX_LABEL_CHARGR) BOX_LABEL_CHARGR_NM
			,BOX_FILL_CNT
			,LABEL_PRINT_YN
			,BOX_LABEL_DESC
		FROM	TB_BOX_LABEL_ADM BLA
		LEFT OUTER JOIN TB_WORK_ORDER_ADM WO
		ON BLA.WORK_ORD_NO=WO.WORK_ORD_NO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WO.ITEM_SEQ=IIA.ITEM_SEQ
		WHERE 1=1
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND BLA.WORK_ORD_NO = #{workOrdNo}
		</if>
		<if test="boxIdx!=null and !boxIdx.equals('')">
		AND	BOX_IDX = #{boxIdx}
		</if>
		<if test="boxLabelNo!=null and !boxLabelNo.equals('')">
		AND	BOX_LABEL_NO = #{boxLabelNo}
		</if>
	</select>
	
	<!-- 박스라벨 상세조회 -->
	<select id="boxLabelAdmRead" resultMap="WorkOrderAdmVo">
		SELECT	
			WORK_ORD_NO
			,BOX_IDX
			,BOX_LABEL_NO
			,BOX_LABEL_DATE
			,BOX_LABEL_CHARGR 
			,(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=BOX_LABEL_CHARGR) BOX_LABEL_CHARGR_NM
			,BOX_FILL_CNT
			,LABEL_PRINT_YN
			,BOX_LABEL_DESC
		FROM	TB_BOX_LABEL_ADM 
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
		AND	BOX_IDX = #{boxIdx}
		AND	BOX_LABEL_NO = #{boxLabelNo}
	</select>
	
	<!-- 박스라벨 BOX_IDX 생성 -->
	<select id="getBoxIdx" resultType="String">
		SELECT ISNULL(MAX(BOX_IDX),0)+1
		FROM TB_BOX_LABEL_ADM
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
	</select>
	
	<!-- 박스라벨 BOX_LABEL_NO 생성 -->
	<select id="getBoxLabelNo" resultType="String">
		SELECT
			CONCAT(
				#{equipCd},
				'-',
				CONVERT(CHAR(6), GETDATE(), 12),
				'-',
				FORMAT(CONVERT(INT,RIGHT(ISNULL(MAX(BOX_LABEL_NO),'0000'),4))+1, '0000')
			) BOX_LABEL_NO
		FROM TB_BOX_LABEL_ADM
		WHERE 1=1
		AND WORK_ORD_NO = #{workOrdNo}
	</select>
	
	<!-- 박스라벨 다중등록 -->
	<insert id="boxLabelAdmIns" parameterType="java.util.List">
		<![CDATA[
			INSERT INTO TB_BOX_LABEL_ADM(
				WORK_ORD_NO,
				BOX_IDX,
				BOX_LABEL_NO,
				BOX_LABEL_DATE,
				BOX_LABEL_CHARGR,
				BOX_FILL_CNT,
				LABEL_PRINT_YN,
				BOX_LABEL_DESC,
				REG_ID,
				REG_DATE
			) 
			VALUES
		]]>
		<foreach collection="list" item="item" separator=",">
			(
				'${item.workOrdNo}',
				'${item.boxIdx}',
				'${item.boxLabelNo}',
				'${item.boxLabelDate}',
				'${item.boxLabelChargr}',
				'${item.boxFillCnt}',
				'${item.labelPrintYn}',
				'${item.boxLabelDesc}',
				'${item.regId}',
				GETDATE()
			)
		</foreach>
	</insert>
	
	<!-- 박스라벨 수정 -->
	<update id="boxLabelAdmUpd">
		UPDATE	TB_BOX_LABEL_ADM
		<set>
			<if test="boxLabelDate!=null and !boxLabelDate.equals('')">
			BOX_LABEL_DATE = #{boxLabelDate},
			</if>
			<if test="boxLabelChargr!=null and !boxLabelChargr.equals('')">
			BOX_LABEL_CHARGR = #{boxLabelChargr},
			</if>
			<if test="boxFillCnt!=null and !boxFillCnt.equals('')">
			BOX_FILL_CNT = #{boxFillCnt},
			</if>
			<if test="labelPrintYn!=null and !labelPrintYn.equals('')">
			LABEL_PRINT_YN = #{labelPrintYn},
			</if>
			<if test="boxLabelDesc!=null and !boxLabelDesc.equals('')">
			BOX_LABEL_DESC = #{boxLabelDesc},
			</if>
			UPD_ID = #{updId},
			UPD_DATE = #{updDate}
		</set> 
		WHERE 1=1
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND WORK_ORD_NO = #{workOrdNo}
		</if>
		<if test="boxIdx!=null and !boxIdx.equals('')">
		AND	BOX_IDX = #{boxIdx}
		</if>
		<if test="boxLabelNo!=null and !boxLabelNo.equals('')">
		AND	BOX_LABEL_NO = #{boxLabelNo}
		</if>
	</update>
	
	<!-- 박스라벨 삭제 -->
	<delete id="boxLabelAdmDel">
		DELETE FROM TB_BOX_LABEL_ADM 
		WHERE 1=1
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND WORK_ORD_NO = #{workOrdNo}
		</if>
		<if test="boxIdx!=null and !boxIdx.equals('')">
		AND	BOX_IDX = #{boxIdx}
		</if>
		<if test="boxLabelNo!=null and !boxLabelNo.equals('')">
		AND	BOX_LABEL_NO = #{boxLabelNo}
		</if>
	</delete>
	
	
	<!-- 총 양/불/실적 수량 조회 -->
	<select id="getTotalWorkQty" resultMap="WorkOrderAdmVo">
		SELECT 
			ISNULL(SUM(OUTPUT_QTY),0) TOTAL_OUTPUT_QTY,
			ISNULL(SUM(FAIR_QTY),0) TOTAL_FAIR_QTY,
			ISNULL(SUM(FAULTY_QTY),0) TOTAL_FAULTY_QTY
		FROM TB_WORK_ORDER_ADM WO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WO.ITEM_SEQ=IIA.ITEM_SEQ
		WHERE 1=1
		AND IIA.MAIN_GUBUN='001'
		<if test="startDate!=null and !startDate.equals('')">
		AND WO.WORK_ORD_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="equipCd!=null and !equipCd.equals('')">
		AND WO.EQUIP_CD=#{equipCd}
		</if>
		<if test="workStatus!=null and !workStatus.equals('')">
		AND WO.WORK_STATUS=#{workStatus}
		</if>
		
	</select>
	
	
	
</mapper>