body {
    font-family:'Noto Sans KR';
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
}

.table th {
	border: 1px solid #cccccc22;
	font-weight: 600;
}

.table td {
	background-color: #323539;
	border: 1px solid #cccccc22;
	font-weight: 400;
	padding: 0px 5px;
}

#my-spinner {
    width: 100%; height: 100%;
    top: 0; left: 0;
    display: none;
    opacity: .6;
    background: none;
    position: absolute;
    z-index: 9999;
}

#my-spinner div {
    width: 100%; height: 100%;
    display: table;
}

#my-spinner span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#my-spinner img {
    background: white;
    padding: 1em;
    border-radius: .7em;
}

.viewer {
    height: 80vh;
    width: 1400px;
}

div::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 7px;
}
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
}
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

.nonScrollTable::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

@keyframes blink-effect { 50% { opacity: 0; } }


/* toastr */
.toast-success {
	opacity: 1 !important;
}

.toast-success > toast-message {
	color: #000000 !important;
}





/*

	관제시스템

*/

.dtl_item {
	cursor: pointer;
	border-radius: 0.25rem;
}

.dtl_item:hover,
.dtl_item:focus {
	background-color: #27DB48;
}

.btn_toggle_arrowLR {
	display: none;
}
.btn_toggle_arrowLR:checked ~ label {
	height: 1.5rem;
	cursor: pointer;
	content: url("/resources/assets/monitoring/vender/fontawesome-free-6.1.1-web/svgs/solid/angle-right.svg");
	transform: rotate(0deg);
	transition: transform .35s ease;
}
 	
.btn_toggle_arrowLR ~ label {
	height: 1.5rem;
	cursor: pointer;
	content: url("/resources/assets/monitoring/vender/fontawesome-free-6.1.1-web/svgs/solid/angle-right.svg");
	transform: rotate(180deg);
	transition: transform .35s ease;
}

#asideCtl:hover,
#asideCtl:focus {
	background-color: #E84E1E !important;
}

@media all and (min-width: 1281px) and (max-width: 1919px) {
	html {
		font-size: 13.5px !important;
	}
	
	#main {
		grid-template-areas:	'header'
								'section' !important;
		grid-template-rows: 84px 1fr !important;
		grid-template-columns: 1fr !important;
	}
	
	#header {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
	}
	
	#asideCtl {
		display: block !important;
	}
	
	#aside {
		position: fixed !important;
		top: 0 !important;
		left: 0;
		width: 200px !important;
	}
	
	#aside .list-unstyled {
		font-size: 1rem !important;
		padding-right: 2rem;
	}
	
	#section_1000 {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
		grid-template-areas:	'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0001 view0001 view0001 view0001 view0001 view0001 view0009 view0009 view0009'
								'view0007 view0007 view0008 view0008 view0008 view0008 view0009 view0009 view0009'
								'view0007 view0007 view0008 view0008 view0008 view0008 view0009 view0009 view0009'
								'view0007 view0007 view0008 view0008 view0008 view0008 view0009 view0009 view0009'
								'view0007 view0007 view0008 view0008 view0008 view0008 view0009 view0009 view0009'
								'view0007 view0007 view0010 view0010 view0010 view0010 view0005 view0005 view0005'
								'view0007 view0007 view0010 view0010 view0010 view0010 view0005 view0005 view0005'
								'view0007 view0007 view0010 view0010 view0010 view0010 view0005 view0005 view0005'
								'view0007 view0007 view0010 view0010 view0010 view0010 view0005 view0005 view0005'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0005 view0005 view0005'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0005 view0005 view0005'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0004 view0004 view0004'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0004 view0004 view0004'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0004 view0004 view0004'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0004 view0004 view0004'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0004 view0004 view0004'
								'view0006 view0006 view0006 view0006 view0003 view0003 view0004 view0004 view0004' !important;
		grid-template-rows: repeat(24, 80px) !important;
		grid-template-columns: repeat(9, 1fr) !important;
	}
	
	#section_2000 {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
		grid-template-areas:	'view0001 view0001 view0001 view0006'
								'view0001 view0001 view0001 view0006'
								'view0001 view0001 view0001 view0006'
								'view0001 view0001 view0001 view0006'
								'view0001 view0001 view0001 view0006'
								'view0001 view0001 view0001 view0006'
								'view0007 view0007 tempHumi view0006'
								'view0007 view0007 tempHumi view0006'
								'view0007 view0007 tempHumi view0006'
								'view0007 view0007 view0003 view0006'
								'view0007 view0007 view0003 view0006'
								'view0007 view0007 view0003 view0006'
								'view0005 view0005 view0005 view0006'
								'view0005 view0005 view0005 view0006'
								'view0005 view0005 view0005 view0006'
								'view0005 view0005 view0005 view0006'
								'view0005 view0005 view0005 view0006'
								'view0005 view0005 view0005 view0006'
								'view0004 view0004 view0004 view0006'
								'view0004 view0004 view0004 view0006'
								'view0004 view0004 view0004 view0006'
								'view0004 view0004 view0004 view0006'
								'view0004 view0004 view0004 view0006'
								'view0004 view0004 view0004 view0006' !important;
		grid-template-rows: repeat(24, 80px) !important;
		grid-template-columns: repeat(4, 1fr) !important;
	}
}

@media all and (min-width: 951px) and (max-width: 1280px) {
	html {
		font-size: 12px !important;
	}
	
	#main {
		grid-template-areas:	'header'
								'section' !important;
		grid-template-rows: 84px 1fr !important;
		grid-template-columns: 1fr !important;
	}
	
	#header {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
	}
	
	#asideCtl {
		display: block !important;
	}
	
	#aside {
		position: fixed !important;
		top: 0 !important;
		left: 0;
		width: 200px !important;
	}
	
	#aside .list-unstyled {
		font-size: 1rem !important;
		padding-right: 2rem;
	}
	
	.btn_toggle_arrow::before {
		width: 0.5em;
		line-height: 0;
		content: url("/resources/assets/monitoring/vender/fontawesome/svgs/solid/angle-right.svg");
		transition: transform .35s ease;
		margin-right: 5px;
	}
	
	.btn_toggle_arrow[aria-expanded="true"] {
		color: rgba(0, 0, 0, .85);
	}
	.btn_toggle_arrow[aria-expanded="true"]::before {
		transform: rotate(90deg);
	}
	
	#section_1000 {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
		grid-template-areas:	'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0001 view0001 view0001 view0001 view0001 view0001'
								'view0007 view0007 view0008 view0008 view0008 view0008'
								'view0007 view0007 view0008 view0008 view0008 view0008'
								'view0007 view0007 view0008 view0008 view0008 view0008'
								'view0007 view0007 view0008 view0008 view0008 view0008'
								'view0007 view0007 view0010 view0010 view0010 view0010'
								'view0007 view0007 view0010 view0010 view0010 view0010'
								'view0007 view0007 view0010 view0010 view0010 view0010'
								'view0007 view0007 view0010 view0010 view0010 view0010'
								'view0009 view0009 view0009 view0005 view0005 view0005'
								'view0009 view0009 view0009 view0005 view0005 view0005'
								'view0009 view0009 view0009 view0005 view0005 view0005'
								'view0009 view0009 view0009 view0005 view0005 view0005'
								'view0009 view0009 view0009 view0005 view0005 view0005'
								'view0009 view0009 view0009 view0005 view0005 view0005'
								'view0009 view0009 view0009 view0004 view0004 view0004'
								'view0009 view0009 view0009 view0004 view0004 view0004'
								'view0009 view0009 view0009 view0004 view0004 view0004'
								'view0009 view0009 view0009 view0004 view0004 view0004'
								'view0009 view0009 view0009 view0004 view0004 view0004'
								'view0009 view0009 view0009 view0004 view0004 view0004'
								'view0006 view0006 view0006 view0006 view0003 view0003'
								'view0006 view0006 view0006 view0006 view0003 view0003'
								'view0006 view0006 view0006 view0006 view0003 view0003'
								'view0006 view0006 view0006 view0006 view0003 view0003' !important;
		grid-template-rows: repeat(32, 80px) !important;
		grid-template-columns: repeat(6, 1fr) !important;
	}
	
	#section_2000 {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
		grid-template-areas:	'view0001 view0001 view0006'
								'view0001 view0001 view0006'
								'view0001 view0001 view0006'
								'view0001 view0001 view0006'
								'view0001 view0001 view0006'
								'view0001 view0001 view0006'
								'view0007 view0007 view0006'
								'view0007 view0007 view0006'
								'view0007 view0007 view0006'
								'view0007 view0007 view0006'
								'view0007 view0007 view0006'
								'view0007 view0007 view0006'
								'tempHumi tempHumi view0006'
								'tempHumi tempHumi view0006'
								'tempHumi tempHumi view0006'
								'view0003 view0003 view0006'
								'view0003 view0003 view0006'
								'view0003 view0003 view0006'
								'view0005 view0005 view0006'
								'view0005 view0005 view0006'
								'view0005 view0005 view0006'
								'view0005 view0005 view0006'
								'view0005 view0005 view0006'
								'view0005 view0005 view0006'
								'view0004 view0004 view0006'
								'view0004 view0004 view0006'
								'view0004 view0004 view0006'
								'view0004 view0004 view0006'
								'view0004 view0004 view0006'
								'view0004 view0004 view0006' !important;
		grid-template-rows: repeat(30, 80px) !important;
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

@media all and (min-width: 0px) and (max-width: 950px) {
	#main {
		grid-template-areas:	'header'
								'section' !important;
		grid-template-rows: 84px 1fr !important;
		grid-template-columns: 1fr !important;
	}
	
	#header {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
	}
	
	#header > div > div:nth-child(1),
	#header > div > div:nth-child(3) {
		display: none !important;
	}
	
	#asideCtl {
		display: block !important;
	}
	
	#aside {
		position: fixed !important;
		top: 0 !important;
		left: 0;
		width: 200px !important;
	}
	
	#aside .list-unstyled {
		font-size: 1rem !important;
		padding-right: 2rem;
	}
	
	#section_1000 {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
		grid-template-areas:	'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'tempHumi'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0008'
								'view0008'
								'view0008'
								'view0008'
								'view0010'
								'view0010'
								'view0010'
								'view0010'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0009'
								'view0005'
								'view0005'
								'view0005'
								'view0005'
								'view0005'
								'view0005'
								'view0004'
								'view0004'
								'view0004'
								'view0004'
								'view0004'
								'view0004'
								'view0006'
								'view0006'
								'view0006'
								'view0006'
								'view0003'
								'view0003'
								'view0003' !important;
		grid-template-rows: repeat(55, 80px) !important;
		grid-template-columns: 1fr !important;
	}
	
	#section_2000 {
		width: calc(100vw - 2rem) !important;
		margin-left: 2rem !important;
		grid-template-areas:	'tempHumi'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0001'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0007'
								'view0002'
								'view0002'
								'view0002'
								'view0003'
								'view0003'
								'view0003'
								'view0005'
								'view0005'
								'view0005'
								'view0005'
								'view0005'
								'view0005'
								'view0004'
								'view0004'
								'view0004'
								'view0004'
								'view0004'
								'view0004'
								'view0006'
								'view0006'
								'view0006'
								'view0006'
								'view0006'
								'view0006' !important;
		grid-template-rows: repeat(37, 80px) !important;
		grid-template-columns: repeat(1, 1fr) !important;
	}
	
	.workStatusPie {
		width: 50% !important;
	}
}

@media all and (min-width: 700px) and (max-width: 950px) {
	html {
		font-size: 11px !important;
	}
}

@media all and (min-width: 500px) and (max-width: 699px) {
	html {
		font-size: 10px !important;
	}
}

@media all and (min-width: 300px) and (max-width: 499px) {
	html {
		font-size: 9px !important;
	}
}

@media all and (min-width: 0px) and (max-width: 299px) {
	html {
		font-size: 8px !important;
	}
}