<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mapper.bm.factoryCalendarMapper">

	<resultMap id="FactoryCalendarVo" type="mes.domain.bm.FactoryCalendarVo">
		<result property="startDate"		column="START_DATE"			/>
		<result property="endDate"			column="END_DATE"			/>
		
		<result property="factoryDate" 		column="FACTORY_DATE"	/>
		<result property="factoryType" 		column="FACTORY_TYPE"	/>
		<result property="timeCode" 		column="TIME_CODE"		/>
		<result property="timeName" 		column="TIME_NAME"		/>
		<result property="startTime" 		column="START_TIME"		/>
		<result property="endTime" 			column="END_TIME"		/>
		<result property="runningTime"		column="RUNNING_TIME"	/>
		<result property="breakTime" 		column="BREAK_TIME"		/>
		<result property="regId" 			column="REG_ID"			/>
		<result property="regDate" 			column="REG_DATE"		/>
		<result property="updId" 			column="UPD_ID"			/>
		<result property="updDate" 			column="UPD_DATE"		/>
		<result property="totalTime" 		column="TOTAL_TIME"		/>
		
		<result property="weekend" 			column="weekend"		/>
		<result property="searchMonth" 		column="searchMonth"	/>
	</resultMap>
	
	<!-- ===================== 공장력 ========================= -->
	<!-- 월별 공장력 목록조회 -->
	<select id="factoryCalendarList" resultMap="FactoryCalendarVo" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			SELECT
				FACTORY_DATE,
				TIME_CODE,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM WHERE BASE_GROUP_CD = '151' AND BASE_CD = TIME_CODE) TIME_NAME,
				START_TIME,
				END_TIME,
				RUNNING_TIME,
				BREAK_TIME
			FROM TB_FACTORY_CALENDAR A
			WHERE 1=1
			AND A.FACTORY_DATE LIKE CONCAT(#{searchMonth},'%')
			AND A.FACTORY_TYPE = #{factoryType}
		]]>
	</select>
	
	<!-- 기간별 공장력 목록조회 -->
	<select id="factoryCalendarListByDate" resultMap="FactoryCalendarVo" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			SELECT
				FACTORY_DATE,
				TIME_CODE,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM WHERE BASE_GROUP_CD = '151' AND BASE_CD = TIME_CODE) TIME_NAME,
				START_TIME,
				END_TIME,
				RUNNING_TIME,
				BREAK_TIME
			FROM TB_FACTORY_CALENDAR FC
			WHERE 1=1
			AND FC.FACTORY_TYPE = #{factoryType}
			AND FC.FACTORY_DATE BETWEEN #{startDate} AND #{endDate}
		]]>
	</select>
	
	<!-- 월별 목록조회 -->
	<select id="holidayList" resultMap="FactoryCalendarVo" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			DECLARE @date NVARCHAR(10)
			DECLARE @monthFirstDate NVARCHAR(10)
			DECLARE @monthLastDate NVARCHAR(10)
			
			SET @date = #{searchMonth}
			SET @monthFirstDate = CONCAT(@date,'01')
			SELECT @monthLastDate = CONVERT(CHAR(8), DATEADD(D,-1,DATEADD(M,1,@monthFirstDate)), 112)
			
			SELECT
					A.DATE AS FACTORY_DATE,
					DATEPART(YEAR,A.DATE) YEAR,
					DATEPART(MONTH,A.DATE) MONTH,
					DATEPART(DAY,A.DATE) DAY,
					DATEPART(WEEK,A.DATE) WEEK,
					DATEPART(WEEKDAY,A.DATE) WEEKEND
				FROM (
					SELECT
						CONVERT(VARCHAR, DATEADD(D, NUMBER, @monthFirstDate), 112) AS 'DATE'
					FROM MASTER..SPT_VALUES
					WHERE 1=1
					AND TYPE = 'P'
					AND NUMBER <= DATEDIFF(D, @monthFirstDate, @monthLastDate)
				) A
		]]>
	</select>
	
	<!-- 공장력 상세조회 -->
	<select id="factoryCalendarRead" resultMap="FactoryCalendarVo" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			SELECT
				FACTORY_DATE,
				FACTORY_TYPE,
				TIME_CODE,
				(SELECT BASE_NM FROM TB_COMMON_CODE_ADM WHERE BASE_GROUP_CD = '151' AND BASE_CD = TIME_CODE) TIME_NAME,
				START_TIME,
				END_TIME,
				RUNNING_TIME,
				BREAK_TIME
			FROM TB_FACTORY_CALENDAR A
			WHERE 1=1
			AND A.factoryDate = #{factoryDate}
		]]>
	</select>
	
	<!-- 공장력 등록 -->
	<insert id="factoryCalendarCreate" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
		INSERT INTO TB_FACTORY_CALENDAR (
			FACTORY_DATE,
			FACTORY_TYPE,
			TIME_CODE,
			START_TIME,
			END_TIME,
			RUNNING_TIME,
			BREAK_TIME,
			REG_ID,
			REG_DATE
		) VALUES (
			#{factoryDate},
			#{factoryType},
			#{timeCode},
			#{startTime},
			#{endTime},
			#{runningTime},
			#{breakTime},
			#{regId},
			GETDATE()
		)
		]]>
	</insert>
	
	<!-- 공장력 수정 -->
	<update id="factoryCalendarUpdate" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			UPDATE TB_FACTORY_CALENDAR
			SET
				TIME_CODE = #{timeCode},
				START_TIME = #{startTime},
				END_TIME = #{endTime},
				RUNNING_TIME = #{runningTime},
				BREAK_TIME = #{breakTime},
				UPD_ID = #{updId},
				UPD_DATE = GETDATE()
			WHERE FACTORY_DATE = #{factoryDate} AND FACTORY_TYPE = #{factoryType}
		]]>
	</update>
	
	
	
	<!-- ==============================================================사용 X============================================================== -->
	
	<!-- 공장력 전체삭제 -->
	<delete id="deleteAll" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			DELETE FROM factory_calendar
			WHERE 1=1
			AND factoryDate LIKE CONCAT(REPLACE(#{searchMonth},'-',''),'%')
			AND factoryDate NOT BETWEEN CONCAT('2014-06','-','01') and date_format(DATE_ADD(NOW(), interval -1 DAY), '%Y%m%d')
		]]>
	</delete>
	
	<!-- 공장력 개별삭제 -->
	<delete id="delete" parameterType="mes.domain.bm.FactoryCalendarVo">
		<![CDATA[
			DELETE FROM factory_calendar WHERE FACTORY_DATE = #{factoryDate} AND FACTORY_TYPE = #{factoryType}
		]]>
	</delete>
</mapper>