<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.bm.itemPrcssAdmMapper">

	<resultMap id="ItemPrcssAdmVo" type="mes.domain.bm.ItemPrcssAdmVo">
		<result property="itemSeq"				column="ITEM_SEQ"			/>
		<result property="itemPrcssSeq"		    column="ITEM_PRCSS_SEQ"		/>
		<result property="itemPrcssOrd"			column="ITEM_PRCSS_ORD"		/>			
		<result property="itemPrcssCd"			column="ITEM_PRCSS_CD"		/>		
		<result property="itemPrcssNm"			column="ITEM_PRCSS_NM"		/>		
		<result property="dealCorpCd"			column="DEAL_CORP_CD"		/>		
		<result property="dealCorpNm"			column="DEAL_CORP_NM"		/>			
		<result property="itemPrcssDesc"		column="ITEM_PRCSS_DESC"	/>		
		<result property="regId"		  	  	column="REG_ID"				/>
		<result property="regDate"		  	  	column="REG_DATE"			/>	
		<result property="updId"		  	  	column="UPD_ID"				/>
		<result property="updDate"		  		column="UPD_DATE"			/>
	</resultMap>
	
	<!-- 공정목록조회 -->
	<select id="itemPrcssAdmList" resultMap="ItemPrcssAdmVo">
		SELECT	
			ITEM_SEQ
			, ITEM_PRCSS_SEQ
			, ITEM_PRCSS_ORD
			, ITEM_PRCSS_CD
			, (SELECT PRCSS_NM FROM TB_PRCSS_CODE_ADM X WHERE X.PRCSS_CD=IPA.ITEM_PRCSS_CD AND PRCSS_TYPE='002') ITEM_PRCSS_NM
			, DEAL_CORP_CD
			, (SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=IPA.DEAL_CORP_CD) DEAL_CORP_NM
			, ITEM_PRCSS_DESC
		FROM TB_ITEM_PRCSS_ADM IPA 
		WHERE 1=1
		AND ITEM_SEQ = #{itemSeq}
		<if test="itemPrcssCdCheck != null and !itemPrcssCdCheck.equals('')">
		AND ITEM_PRCSS_CD != ''
		</if>
	</select>
	
	<!-- 공정목록등록 -->
	<insert id="itemPrcssAdmIns">
		INSERT INTO TB_ITEM_PRCSS_ADM(
			ITEM_SEQ,
			ITEM_PRCSS_SEQ,
			ITEM_PRCSS_ORD,
			ITEM_PRCSS_CD,
			DEAL_CORP_CD,
			ITEM_PRCSS_DESC,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{itemSeq},
			#{itemPrcssSeq},
			#{itemPrcssOrd},
			#{itemPrcssCd},
			#{dealCorpCd},
			#{itemPrcssDesc},
			#{regId},
			GETDATE()
		)
	</insert>
	
	<!-- 공정목록수정 -->
	<update id="itemPrcssAdmUpd">
		UPDATE	TB_ITEM_PRCSS_ADM 
		SET	
			ITEM_PRCSS_ORD = #{itemPrcssOrd},
			ITEM_PRCSS_CD = #{itemPrcssCd},
			DEAL_CORP_CD = #{dealCorpCd},
			ITEM_PRCSS_DESC = #{itemPrcssDesc},
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE	ITEM_SEQ = #{itemSeq}
		AND	ITEM_PRCSS_SEQ = #{itemPrcssSeq}
	</update>
	
	<!-- 공정목록삭제 -->
	<delete id="itemPrcssAdmDel">
		DELETE FROM TB_ITEM_PRCSS_ADM 
		WHERE 1=1
		<if test="itemSeq!=null and !itemSeq.equals('')">
		AND ITEM_SEQ = #{itemSeq}
		</if>
		<if test="itemPrcssSeq!=null and !itemPrcssSeq.equals('')">
		AND	ITEM_PRCSS_SEQ = #{itemPrcssSeq}
		</if>
	</delete>
	
	<!-- 공정시퀀스 생성 -->
	<select id="itemPrcssSeqSel" resultType="String">
		SELECT ISNULL(MAX(ITEM_PRCSS_SEQ)+1,0) FROM TB_ITEM_PRCSS_ADM WHERE ITEM_SEQ=#{itemSeq}
	</select>
	
</mapper>