<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.io.outWhsAdmMapper">

	<resultMap id="OutWhsAdmVo" type="mes.domain.io.OutWhsAdmVo">
		<result property="poNo"					column="PO_NO"				/>
		<result property="poSeq"		    	column="PO_SEQ"				/>
		<result property="inSeq"				column="IN_SEQ"				/>	
		<result property="outSeq"				column="OUT_SEQ"			/>			
		<result property="lotNo"				column="LOT_NO"				/>		
		<result property="barcodeNo"			column="BARCODE_NO"			/>	
		<result property="itemSeq"		  	  	column="ITEM_SEQ"			/>
		<result property="upperItemSeq"		  	column="UPPER_ITEM_SEQ"		/>
		<result property="itemCd"		  	  	column="ITEM_CD"			/>
		<result property="itemNm"		  	  	column="ITEM_NM"			/>
		<result property="itemGubun"		    column="ITEM_GUBUN"			/>
		<result property="itemGubunNm"			column="ITEM_GUBUN_NM"		/>
		<result property="itemFifoGubun"		column="ITEM_FIFO_GUBUN"	/>
		<result property="itemFifoGubunNm"		column="ITEM_FIFO_GUBUN_NM"	/>
		
		<result property="mainGubun"		    column="MAIN_GUBUN"			/>
		<result property="mainGubunNm"			column="MAIN_GUBUN_NM"		/>
		<result property="itemModel"		    column="ITEM_MODEL"			/>
		<result property="itemModelNm"		    column="ITEM_MODEL_NM"		/>
		<result property="itemUnit"		   		column="ITEM_UNIT"			/>
		<result property="itemUnitNm"		   	column="ITEM_UNIT_NM"		/>
		<result property="importCost"		    column="IMPORT_COST"		/>
			
		<result property="outCase"				column="OUT_CASE"			/>
		<result property="statusCd"				column="STATUS_CD"			/> 
		<result property="workOrdNo"			column="WORK_ORD_NO"		/> 
		<result property="mainWorkChargr"		column="MAIN_WORK_CHARGR"	/> 
		<result property="ordLotNo"		        column="ORD_LOT_NO"			/>
		<result property="workOrdQty"		    column="WORK_ORD_QTY"		/>
		<result property="inDate"				column="IN_DATE"	/> 
		<result property="preOutWhsDate"		column="PRE_OUT_WHS_DATE"	/> 
		<result property="preOutQty"			column="PRE_OUT_QTY"		/> 
		<result property="preWorkCharger"		column="PRE_WORK_CHARGER"	/>
		<result property="preWorkChargerNm"		column="PRE_WORK_CHARGER_NM"/>  
		<result property="outWhsDate"			column="OUT_WHS_DATE"		/>
		<result property="inQty"				column="IN_QTY"				/> 
		<result property="outQty"				column="OUT_QTY"			/> 
		<result property="outWorkCharger"		column="OUT_WORK_CHARGER"	/>
		<result property="partReqNo"			column="PART_REQ_NO"		/> 
		<result property="inWhsDesc"			column="IN_WHS_DESC"		/> 
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>				
		<result property="updDate"				column="UPD_DATE"			/>
		
		
		<result property="locationCd"			column="LOCATION_CD"		/>		
		<result property="locationNm"			column="LOCATION_NM"		/>
		<result property="areaCd"				column="AREA_CD"			/>		
		<result property="areaNm"				column="AREA_NM"			/>
		<result property="floorCd"				column="FLOOR_CD"			/>		
		<result property="floorNm"				column="FLOOR_NM"			/>
		<result property="locationNo"			column="LOCATION_NO"		/>
		
		<result property="locCd"				column="LOC_CD"				/>		
		<result property="locNm"				column="LOC_NM"				/>		
		
		<result property="remainQty"			column="REMAIN_QTY"			/> 
		
		<result property="itemConsumpt"			column="ITEM_CONSUMPT"		/>
		<result property="totalConsumpt"		column="TOTAL_CONSUMPT"		/>
		<result property="tmQty"				column="TM_QTY" 			/>
		<result property="confirmYn"			column="CONFIRM_YN" 		/>
		<result property="startDate"			column="START_DATE"			/>				
		<result property="endDate"				column="END_DATE"			/>
		<result property="value"				column="VALUE"				/>
		<result property="diffQty"				column="DIFF_QTY"			/>
		<result property="realQty"				column="REAL_QTY"			/>
		<result property="realQtyOption"		column="REAL_QTY_OPTION"	/>
		
		<!-- 이전 데이터 -->
		<result property="partCd"		  	  	column="PART_CD"			/>
		<result property="partNm"		        column="PART_NM"			/>
		<result property="partRev"		        column="PART_REV"			/>
		<result property="partSpec"		  	  	column="PART_SPEC"			/>
		<result property="partGubun"		    column="PART_GUBUN"			/>
		<result property="partType"		   		column="PART_TYPE"			/>
		<result property="partUnit"		  	  	column="PART_UNIT"			/>
		<result property="partUnitNm"		  	column="PART_UNIT_NM"		/>
		<result property="itemRev"		        column="ITEM_REV"			/>
		<result property="partConsumpt"			column="PART_CONSUMPT"		/>
		<result property="totalCount"			column="TOTAL_COUNT"		/>
		
		<!-- 추가 사항 -->
		<result property="outWorker"		    column="OUT_WORKER"			/>
		<result property="outWorkerNm"			column="OUT_WORKER_NM"		/>
	</resultMap>
	
	<!-- 자재출고 목록조회 -->
	<select id="outWhsAdmList" resultMap="OutWhsAdmVo">
		SELECT	
			OWA_TB.OUT_SLIP_NO
			, OWA_TB.OUT_SLIP_SEQ
			, OWA_TB.OUT_GUBUN
			, OWA_TB.LOT_NO
			, OWA_TB.BARCODE_NO
			, OWA_TB.ITEM_SEQ
			, (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '079' AND X.BASE_CD = IIA_TB.ITEM_GUBUN) ITEM_GUBUN_NM
			, (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '099' AND X.BASE_CD = IIA_TB.ITEM_MODEL) ITEM_MODEL_NM
			, IIA_TB.ITEM_CD
			, IIA_TB.ITEM_NM
			, OWA_TB.OUT_QTY
			, OWA_TB.OUT_WHS_DATE
			, OWA_TB.OUT_WORKER
			, (SELECT X.USER_NM FROM TB_USER X WHERE X.USER_NUMBER = OWA_TB.OUT_WORKER) OUT_WORKER_NM
			, OWA_TB.LOCATION_NO
			, OWA_TB.LOCATION_CD
			, (SELECT X.BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '073' AND X.BASE_CD = OWA_TB.LOCATION_CD) LOCATION_NM
			, OWA_TB.STATUS_CD
			, OWA_TB.IN_WHS_DESC
			, OWA_TB.REG_ID
			, OWA_TB.REG_DATE
			, OWA_TB.UPD_ID
			, OWA_TB.UPD_DATE
		FROM TB_OUT_WHS_ADM OWA_TB
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON OWA_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
		WHERE 1=1
		<if test="startDate != null and !startDate.equals('')">
		AND OWA_TB.OUT_WHS_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="itemGubun != null and !itemGubun.equals('')">
		AND IIA_TB.ITEM_GUBUN = #{itemGubun}
		</if>
		<if test="mainGubun != null and !mainGubun.equals('')">
		AND IIA_TB.MAIN_GUBUN = #{mainGubun}
		</if>
	</select>
	
	
	<!-- 자재출고 상세조회 -->
	<select id="preOutWhsAdmList" resultMap="OutWhsAdmVo">
		SELECT	
			OW_TB.PO_NO 
			, OW_TB.PO_SEQ 
			, OW_TB.IN_SEQ 
			, OW_TB.OUT_SEQ 
			, OW_TB.LOT_NO 
			, OW_TB.BARCODE_NO 
			, OW_TB.ITEM_SEQ
			, IIA_TB.ITEM_CD
			, IIA_TB.ITEM_NM
			, IIA_TB.ITEM_MODEL
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM WHERE BASE_CD = IIA_TB.ITEM_MODEL AND BASE_GROUP_CD='077') ITEM_MODEL_NM
			, (SELECT ITEM_SEQ FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO=OW_TB.WORK_ORD_NO)ITEM_SEQ
			, (SELECT ITEM_CD FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ= (SELECT ITEM_SEQ FROM TB_WORK_ORDER X WHERE X.WORK_ORD_NO=OW_TB.WORK_ORD_NO)) ITEM_CD
			, OW_TB.STATUS_CD
			, OW_TB.WORK_ORD_NO
			, OW_TB.PRE_OUT_WHS_DATE 
			, PRE_OUT_QTY
			, OW_TB.PRE_WORK_CHARGER 
			, (SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER = OW_TB.PRE_WORK_CHARGER) PRE_WORK_CHARGER_NM
			, OW_TB.OUT_WHS_DATE 
			, OW_TB.OUT_QTY 
			, OW_TB.OUT_WORK_CHARGER 
			, OW_TB.PART_REQ_NO
			, OW_TB.IN_WHS_DESC 
			, OW_TB.REG_ID
			, OW_TB.REG_DATE
			, OW_TB.UPD_ID 
			, OW_TB.UPD_DATE 
		FROM	TB_OUT_WHS_ADM OW_TB
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA_TB
		ON OW_TB.ITEM_SEQ = IIA_TB.ITEM_SEQ
		WHERE 1=1
		AND OW_TB.OUT_CASE = #{outCase}
		<if test="startDate!=null and !startDate.equals('')">
			AND OW_TB.PRE_OUT_WHS_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY OW_TB.PRE_OUT_WHS_DATE DESC
	</select>
	
	
	<!-- 자재출고 상세조회 -->
	<select id="preOutWhsAdmRead" resultMap="OutWhsAdmVo">
		SELECT 
			I.MAIN_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=I.MAIN_GUBUN AND X.BASE_GROUP_CD='112') MAIN_GUBUN_NM,
			I.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=I.ITEM_GUBUN AND X.BASE_GROUP_CD='079') ITEM_GUBUN_NM,
			I.ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=I.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM,
			I.ITEM_CD,
			I.ITEM_NM,
			I.ITEM_UNIT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=I.ITEM_UNIT AND X.BASE_GROUP_CD='036') ITEM_UNIT_NM,
			S.SP_DATE OUT_WHS_DATE,
			S.SP_QTY OUT_QTY,
			S.BARCODE_NO,
			S.LOCATION_NO,
			S.LOCATION_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=S.LOCATION_CD AND X.BASE_GROUP_CD='073') LOCATION_NM,
			L.AREA_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=L.AREA_CD AND X.BASE_GROUP_CD='067') AREA_NM,
			L.FLOOR_NM,
			S.REG_ID,
			M.WORK_ORD_NO,
			(SELECT USER_NM FROM TB_USER WHERE USER_NUMBER=O.MAIN_WORK_CHARGR) MAIN_WORK_CHARGR
		FROM TB_STOCK_PAYMENT_ADM S
		LEFT OUTER JOIN TB_ITEM_INFO_ADM I
		ON S.SP_CD = I.ITEM_SEQ
		LEFT OUTER JOIN TB_LOCATION_ADM L
		ON S.LOCATION_NO=L.LOC_NO
		INNER JOIN TB_WORK_ORDER_MATRL M
		ON S.BARCODE_NO = M.BARCODE_NO
		AND S.SP_DATE = M.MATRL_DATE 
		LEFT OUTER JOIN TB_WORK_ORDER O
		ON M.WORK_ORD_NO=O.WORK_ORD_NO
		WHERE 1=1
		AND SP_GUBUN='002'
		AND SP_SUB_GUBUN='자재투입'
		
		<if test="mainGubun != null and !mainGubun.equals('')">
		AND I.MAIN_GUBUN = #{mainGubun}
		</if>
		<if test="locationCd!=null and !locationCd.equals('')">
		AND S.LOCATION_CD = #{locationCd}
		</if>
		<if test="locationCd==null or locationCd.equals('')">
		AND S.LOCATION_CD IN ('003','004')
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND S.SP_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND M.WORK_ORD_NO = #{workOrdNo}
		</if>
		
	</select>
	
	<!-- 자재출고현황(봉제) 바코드별 조회 -->
	<select id="preOutWhsBarcList" resultMap="OutWhsAdmVo">
		SELECT 
			CCA.BASE_CD LOCATION_CD
			,CCA.BASE_NM LOCATION_NM
			,WOM.MATRL_DATE OUT_WHS_DATE
			,IIA.ITEM_MODEL
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM
			,WOM.ITEM_SEQ
			,IIA.ITEM_CD
			,IIA.ITEM_NM
			,IIA.ITEM_UNIT
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_UNIT AND X.BASE_GROUP_CD='036') ITEM_UNIT_NM
			,(SELECT IN_WHS_QTY FROM TB_IN_OUT_WHS_ADM X WHERE X.BARCODE_NO=WOM.BARCODE_NO) IN_QTY
			,ISNULL(SUM(WOM.TOTAL_CONSUMPT),0) OUT_QTY
			,ISNULL(SUM(WOM.TOTAL_CONSUMPT),0) - ISNULL(SUM(WOM.USE_QTY),0) REAL_QTY
			,WOM.WORK_ORD_NO
			,WOM.BARCODE_NO
		FROM TB_WORK_ORDER_MATRL WOM
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WOM.ITEM_SEQ=IIA.ITEM_SEQ
		LEFT OUTER JOIN TB_COMMON_CODE_ADM CCA
		ON CCA.BASE_GROUP_CD='073'
		AND CCA.ETC2=WOM.MINOR_PRCSS_CD
		WHERE 1=1
		AND IIA.MAIN_GUBUN=#{mainGubun}
		<if test="locationCd!=null and !locationCd.equals('')">
		AND CCA.BASE_CD = #{locationCd}
		</if>
		<if test="itemSeq!=null and !itemSeq.equals('')">
		AND (WOM.ITEM_SEQ = #{itemSeq} OR IIA.ITEM_CD = #{itemSeq})
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND WOM.MATRL_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="workOrdNo!=null and !workOrdNo.equals('')">
		AND WOM.WORK_ORD_NO = #{workOrdNo} 
		</if>
		GROUP BY
			MINOR_PRCSS_CD
			,WOM.MATRL_DATE
			,WOM.BARCODE_NO
			,WOM.WORK_ORD_NO
			,WOM.ITEM_SEQ
			,IIA.ITEM_MODEL
			,IIA.ITEM_CD
			,IIA.ITEM_NM
			,IIA.ITEM_UNIT
			,CCA.BASE_CD
			,CCA.BASE_NM
	</select>
	
	<!-- 자재출고현황(봉제) 일자별 조회 -->
	<select id="preOutWhsDateList" resultMap="OutWhsAdmVo">
		SELECT
			OWA.OUT_WHS_DATE,
			OWA.BARCODE_NO,
			OWA.OUT_WORKER,
			(SELECT X.USER_NM FROM TB_USER X WHERE X.USER_NUMBER = OWA.OUT_WORKER) OUT_WORKER_NM,
			IIA.ITEM_SEQ,
			IIA.ITEM_NM,
			IIA.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_GUBUN AND X.BASE_GROUP_CD='079') ITEM_GUBUN_NM,
			IIA.ITEM_UNIT,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=ITEM_UNIT AND X.BASE_GROUP_CD='036') ITEM_UNIT_NM,
			OWA.OUT_QTY,
			LA.LOC_NO,
			LA.LOC_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM B WHERE BASE_GROUP_CD = '073' AND B.BASE_CD = LA.LOC_CD ) LOCATION_NM,
			LA.AREA_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=LA.AREA_CD AND X.BASE_GROUP_CD='067') AREA_NM
		FROM
			TB_OUT_WHS_ADM OWA
			LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
			ON OWA.ITEM_SEQ = IIA.ITEM_SEQ
			LEFT OUTER JOIN TB_LOCATION_ADM LA
			ON OWA.LOCATION_NO = LA.LOC_NO
		WHERE 1=1
		AND IIA.MAIN_GUBUN = #{mainGubun}
		<if test="locationCd!=null and !locationCd.equals('')">
		AND LA.LOC_CD = #{locationCd}
		</if>
		<if test="itemSeq!=null and !itemSeq.equals('')">
		AND IIA.ITEM_SEQ = #{itemSeq}
		</if>
		<if test="startDate != null and !startDate.equals('')">
		AND OWA.OUT_WHS_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY OWA.OUT_WHS_DATE DESC
	</select>
	
	<!-- 자재출고현황(봉제) 월별 조회 -->
	<select id="preOutWhsItemList" resultMap="OutWhsAdmVo">
		SELECT 
			CCA.BASE_CD LOCATION_CD
			,CCA.BASE_NM LOCATION_NM
			,SUBSTRING(WOM.MATRL_DATE,1,6) OUT_WHS_DATE
			,IIA.ITEM_MODEL 
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_MODEL AND X.BASE_GROUP_CD='099') ITEM_MODEL_NM
			,IIA.ITEM_CD
			,IIA.ITEM_NM
			,IIA.ITEM_UNIT
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_UNIT AND X.BASE_GROUP_CD='036') ITEM_UNIT_NM
			,SUM(ISNULL(WOM.TOTAL_CONSUMPT,0)) OUT_QTY
		FROM TB_WORK_ORDER_MATRL WOM
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON WOM.ITEM_SEQ=IIA.ITEM_SEQ
		LEFT OUTER JOIN TB_COMMON_CODE_ADM CCA
		ON CCA.BASE_GROUP_CD='073'
		AND CCA.ETC2=WOM.MINOR_PRCSS_CD
		WHERE 1=1
		AND IIA.MAIN_GUBUN=#{mainGubun}
		<if test="locationCd!=null and !locationCd.equals('')">
		AND CCA.BASE_CD = #{locationCd}
		</if>
		<if test="itemSeq!=null and !itemSeq.equals('')">
		AND (WOM.ITEM_SEQ = #{itemSeq} OR IIA.ITEM_CD = #{itemSeq})
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND SUBSTRING(MATRL_DATE,1,6) BETWEEN #{startDate} AND #{endDate}
		</if>
		GROUP BY
			WOM.MINOR_PRCSS_CD
			,SUBSTRING(WOM.MATRL_DATE,1,6)
			,IIA.ITEM_MODEL
			,IIA.ITEM_CD
			,IIA.ITEM_NM
			,IIA.ITEM_UNIT
			,CCA.BASE_CD
			,CCA.BASE_NM
	</select>
	
	<!--출고수량과 총소료량 비교 조회 -->
	<select id="compareConsumptPreOutQty" resultMap="OutWhsAdmVo">
		<![CDATA[
			SELECT 
				A.PART_CD,
				A.PART_REV,
				A.PRE_OUT_QTY,
				B.TOTAL_CONSUMPT,
				(CASE WHEN A.PRE_OUT_QTY >= B.TOTAL_CONSUMPT THEN 'Y' ELSE 'N' END) DIFF_QTY
			FROM 
			
			(
				SELECT PART_CD,
					PART_REV,
					SUM(PRE_OUT_QTY) PRE_OUT_QTY
				FROM TB_OUT_WHS_ADM 
				WHERE WORK_ORD_NO=#{workOrdNo}
				GROUP BY PART_CD , PART_REV
			) A
			INNER JOIN 
			(
				SELECT PART_CD,
					PART_REV,
					SUM(PART_CONSUMPT)*#{workOrdQty} TOTAL_CONSUMPT
				FROM TB_ITEM_MOTOR_EBOM
				WHERE ITEM_CD = #{itemCd}
				AND ITEM_REV=#{itemRev}
				GROUP BY PART_CD, PART_REV
			) B
			ON A.PART_CD=B.PART_CD
			AND A.PART_REV=B.PART_REV

		]]>
	</select>
	
	<insert id="preOutWhsAdmCreate">
		INSERT INTO TB_OUT_WHS_ADM(
			OUT_SLIP_NO,
			OUT_SLIP_SEQ,
			OUT_GUBUN,
			LOT_NO,
			BARCODE_NO,
			ITEM_SEQ,
			OUT_QTY,
			OUT_WHS_DATE,
			OUT_WORKER,
			LOCATION_NO,
			LOCATION_CD,
			OUT_LOCATION_NO,
			OUT_LOCATION_CD,
			STATUS_CD,
			IN_WHS_DESC,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{outSlipNo},
			#{outSlipSeq},
			#{outGubun},
			#{lotNo},
			#{barcodeNo},
			#{itemSeq},
			#{outQty},
			#{outWhsDate},
			#{outWorker},
			#{locationNo},
			#{locationCd},
			#{outLocationNo},
			#{outLocationCd},
			#{statusCd},
			#{inWhsDesc},
			#{regId},
			getDate()
		)
	</insert>
	
	
	<!-- 자재출고 출고수량 수정-->
	<update id="updatePreOutQty">
		UPDATE TB_OUT_WHS_ADM 
		<set>
			<if test="preOutQty!=null and !preOutQty.equals('')">
			 PRE_OUT_QTY = PRE_OUT_QTY + #{preOutQty} , 
			</if>
			<if test="partReqNo!=null and !partReqNo.equals('')">
			 PART_REQ_NO = PART_REQ_NO + ',' + #{partReqNo} ,
			</if>
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		</set>
		WHERE BARCODE_NO = #{barcodeNo}
	</update>
	
	<!-- 자재출고 출고전표 생성 -->
	<select id="getOutSlipNo" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(RIGHT(OUT_SLIP_NO, 3))+1 AS NVARCHAR), 3), '001')
		FROM TB_OUT_WHS_ADM
		WHERE SUBSTRING(OUT_SLIP_NO, 1, 8) = #{today}
	</select>
		
	<!-- 자재출고 출고전표시퀀스 생성 -->
	<select id="getOutSlipSeq" resultType="String">
		SELECT ISNULL(MAX(OUT_SLIP_SEQ)+1, 0)
		FROM TB_OUT_WHS_ADM
		WHERE OUT_SLIP_NO = #{outSlipNo}
	</select>
	
	<!-- 자재출고 출고수량 수정-->
	<update id="updateConfirmYn">
		UPDATE TB_OUT_WHS_ADM 
		SET 
			CONFIRM_YN = #{confirmYn}, 
			UPD_ID = #{updId},
			UPD_DATE = GETDATE()
		WHERE WORK_ORD_NO = #{workOrdNo}
	</update>
	
	<!-- 자재출고 시퀀스 생성 -->
	<select id="getOutSeq" resultType="Integer">
		<![CDATA[
			SELECT ISNULL(MAX(OUT_SEQ)+1,0) FROM TB_OUT_WHS_ADM WHERE PO_NO = #{poNo} AND PO_SEQ = #{poSeq} AND IN_SEQ = #{inSeq}
		]]>
	</select>
	
	<!--  입출고관리 남은수량 값 수정-->
	<update id="updateRemainQty">
		<![CDATA[
			UPDATE TB_IN_OUT_WHS_ADM 
			SET REMAIN_QTY = REMAIN_QTY - #{preOutQty} 
			WHERE BARCODE_NO = #{barcodeNo} 
		]]>
	</update>
	
	<!-- 작지번호에 해당하는 바코드인지 여부확인 -->
	<select id="checkBarcodeNo" resultType="Integer">
		SELECT COUNT(*) FROM TB_ITEM_MOTOR_EBOM A , TB_ITEM_PART_ADM B
		WHERE A.PART_CD=B.PART_CD
		AND A.PART_REV=B.PART_REV
		AND A.ITEM_CD=#{itemCd}
		AND A.ITEM_REV=#{itemRev} 
		<if test="partCd!=null and !partCd.equals('')">
		AND A.PART_CD=#{partCd} 
		AND A.PART_REV=#{partRev}
		</if>
		<if test="partGubun!=null and !partGubun.equals('')">
		AND B.PART_GUBUN NOT IN (#{partGubun})
		</if>
	</select>
	

	<!--작지에 해당하는 품번 소모량 값 가져오기 -->
	<select id="getConsumpt" resultType="float">
		SELECT 
			ISNULL(IME_TB.ITEM_CONSUMPT,0)
		FROM TB_ITEM_MOTOR_EBOM IME_TB
		WHERE 1=1
		AND IME_TB.ITEM_SEQ = #{itemSeq}
		AND IME_TB.UPPER_ITEM_SEQ = #{upperItemSeq}
	</select>
	
	<!-- 자재출고현황 작지번호 모달조회-->
	<select id="workOrdNoList" resultMap="OutWhsAdmVo">
		SELECT 
			DISTINCT(A.WORK_ORD_NO)
			, B.ITEM_SEQ
			, B.ITEM_GUBUN
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD = B.ITEM_GUBUN AND X.BASE_GROUP_CD='037') ITEM_GUBUN
			, (SELECT ITEM_NM FROM TB_ITEM_MOTOR_ADM X WHERE X.ITEM_SEQ = B.ITEM_SEQ) ITEM_NM
			, B.ORD_LOT_NO
			, B.WORK_ORD_QTY
		FROM TB_OUT_WHS_ADM A, TB_WORK_ORDER B
		WHERE 1=1
		AND A.WORK_ORD_NO = B.WORK_ORD_NO
	</select>
	
	<!-- 작업지시 자재투입 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
	
	<!-- barcode No 존재 확인 -->
	<select id="barcodeExsitCheck" resultType="Integer">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM TB_OUT_WHS_ADM A
			WHERE 1=1
			AND A.BARCODE_NO = #{barcodeNo}
		]]>
	</select>
	
	<!-- barcode No 자재출고인지 개별출고인지 확인 -->
	<select id="barcodeStatusCheck" resultType="String">
		<![CDATA[
			SELECT
				DISTINCT(OUT_CASE)
			FROM TB_OUT_WHS_ADM A
			WHERE 1=1
			AND A.BARCODE_NO = #{barcodeNo}
		]]>
	</select>
	
	<!-- 작지번호에 투입되는 자재가 맞는지 확인 -->
	<select id="barcodeWorkordNoCheck" resultType="Integer">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM TB_OUT_WHS_ADM A
			WHERE 1=1
			AND A.WORK_ORD_NO = #{workOrdNo}
			AND A.BARCODE_NO = #{barcodeNo}
		]]>
	</select>
	
		
	<!-- barcode No 투입유무 확인 -->
	<select id="barcodeOutStatusCheck" resultType="String">
		<![CDATA[
			SELECT
				STATUS_CD
			FROM TB_OUT_WHS_ADM A
			WHERE 1=1
			AND A.BARCODE_NO = #{barcodeNo}
		]]>
	</select>
	
	
	<!-- 해당 공정에 투입되는 자재가 맞는지 확인 -->
	<select id="barcodePrcssCdCheck" resultType="Integer">
		<![CDATA[
			SELECT
				COUNT(*)
			FROM TB_WORK_ORDER A, TB_ITEM_BOM_MAP B
			WHERE 1=1
			AND A.WORK_ORD_NO = #{workOrdNo}
			AND A.ITEM_CD = B.ITEM_CD
			ANd A.ITEM_REV = B.ITEM_REV
			AND B.PRCSS_CD = #{minorPrcssCd}
			AND B.PART_CD = #{partCd}
			ANd B.PART_REV = #{partRev}
		]]>
	</select>
	
	<!-- 자재투입 barcode Scan -->
	<select id="barcodeNoScan" resultMap="OutWhsAdmVo">
		SELECT
			A.PO_NO,
			A.PO_SEQ,
			A.IN_SEQ,
			A.OUT_SEQ,
			A.OUT_CASE,
			A.BARCODE_NO,
			A.WORK_ORD_NO,
			A.ITEM_SEQ,
			(SELECT ITEM_GUBUN FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=A.ITEM_SEQ) ITEM_GUBUN,
			ISNULL(A.PRE_OUT_QTY,0) PRE_OUT_QTY,
			ISNULL(A.OUT_QTY,0) OUT_QTY,
			LOCATION_CD,
			AREA_CD,
			FLOOR_CD,
			LOCATION_NO
		FROM TB_OUT_WHS_ADM A
		WHERE 1=1
		AND A.BARCODE_NO = #{barcodeNo}
		AND LOCATION_NO = #{locationNo}
	</select>
	
	<!-- 자재투입 자재 출고처리 -->
	<update id="outWhsOutQtyEdit" parameterType="mes.domain.io.OutWhsAdmVo">
		UPDATE TB_OUT_WHS_ADM
		SET
			OUT_WHS_DATE = #{outWhsDate},
			OUT_QTY = ISNULL(OUT_QTY,'0') + #{outQty},
			OUT_WORK_CHARGER = #{outWorkCharger},
			STATUS_CD = 'P'
		WHERE 1=1
		AND PO_NO = #{poNo}
		AND PO_SEQ = #{poSeq}
		AND IN_SEQ = #{inSeq}
		AND OUT_SEQ = #{outSeq}
		
		
	</update>
	
	<!-- 수주상세별 출고 모니터링 조회 -->
	<select id="outMonitoringList" resultMap="OutWhsAdmVo">
		SELECT
			A.PART_CD,
			A.PART_REV,
			B.PART_NM,
			B.PART_SPEC,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=B.PART_UNIT AND X.BASE_GROUP_CD='036') PART_UNIT,
			A.PRE_OUT_WHS_DATE,
			A.PRE_OUT_QTY,
			A.STATUS_CD,
			A.BARCODE_NO,
			(SELECT X.USER_NM FROM TB_USER X WHERE X.USER_NUMBER=A.PRE_WORK_CHARGER) PRE_WORK_CHARGER
		FROM TB_OUT_WHS_ADM A, TB_ITEM_PART_ADM B
		WHERE 1=1
		AND A.PART_CD=B.PART_CD
		AND A.PART_REV=B.PART_REV 
		AND A.WORK_ORD_NO = #{workOrdNo}
	</select>
	
	
	<!-- 수불관리 부품 바코드 상세조회 -->
	<select id="itemPartRead" resultMap="OutWhsAdmVo">
		SELECT
			Z.BARCODE_NO,
			Z.SP_CD ITEM_SEQ,
			(SELECT ITEM_CD FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_CD,
			(SELECT ITEM_NM FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_NM,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM WHERE BASE_CD = (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD) AND BASE_GROUP_CD='099') ITEM_MODEL,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM  WHERE BASE_CD = (SELECT ITEM_UNIT FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD) AND BASE_GROUP_CD = '036') ITEM_UNIT,
			(SELECT IMPORT_COST FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)IMPORT_COST,
			(SELECT ITEM_GUBUN FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_GUBUN,
			(SELECT ITEM_FIFO_GUBUN FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_FIFO_GUBUN,
			ISNULL(A.QTY,0) IN_QTY,
			ISNULL(B.QTY,0) OUT_QTY,
<!-- 			ISNULL(D.QTY,0) ADJ_IN_QTY, -->
<!-- 			ISNULL(E.QTY,0) ADJ_OUT_QTY, -->
			(ISNULL(A.QTY,0))-ISNULL(B.QTY,0) REMAIN_QTY,
<!-- 			(ISNULL(A.QTY,0)+ISNULL(D.QTY,0))-ISNULL(B.QTY,0)-ISNULL(E.QTY,0) REMAIN_QTY, -->
			0 PRE_OUT_QTY,
			Z.LOCATION_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=Z.LOCATION_CD AND X.BASE_GROUP_CD='073')LOCATION_NM,
			Z.AREA_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=Z.AREA_CD AND X.BASE_GROUP_CD='067')AREA_NM,
			Z.FLOOR_CD,
			Z.FLOOR_CD FLOOR_NM,
			Z.LOCATION_NO,
			(CASE WHEN A.SP_DATE IS NULL THEN A.SP_DATE ELSE A.SP_DATE END) IN_DATE
		FROM 
			(
			SELECT 
				SP_TYPE,
				SP_CD,
				BARCODE_NO,
				LOCATION_CD,
				AREA_CD,
				FLOOR_CD,
				LOCATION_NO
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND BARCODE_NO = #{barcodeNo}
			AND SP_GUBUN = '001'
			AND (SP_SUB_GUBUN = '초기재고' or SP_SUB_GUBUN =  '자재입고')
			AND LOCATION_CD = #{locationCd}
			GROUP BY SP_TYPE,SP_CD,BARCODE_NO,LOCATION_CD,AREA_CD,FLOOR_CD,LOCATION_NO
		) Z
		LEFT OUTER JOIN
		(
			SELECT 
				SP_CD,
				SUM(SP_QTY) QTY,
				SP_DATE
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND BARCODE_NO = #{barcodeNo}
			AND SP_GUBUN='001'
			AND (SP_SUB_GUBUN = '초기재고' or SP_SUB_GUBUN =  '자재입고')
			AND LOCATION_CD = #{locationCd}
			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,SP_DATE
		) A
		ON Z.SP_CD=A.SP_CD
	
		LEFT OUTER JOIN 
		(
			SELECT
				SP_CD,
				
				SUM(SP_QTY) QTY
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND BARCODE_NO = #{barcodeNo}
			AND SP_GUBUN='002'
			AND SP_SUB_GUBUN = '자재투입'
			AND (LOCATION_CD = '003' or LOCATION_CD = '004')
			GROUP BY SP_TYPE,SP_CD,SP_GUBUN 
		) B
		ON Z.SP_CD=B.SP_CD
<!-- 		LEFT OUTER JOIN  -->
<!-- 		( -->
<!-- 			SELECT  -->
<!-- 				SP_CD, -->
<!-- 				SUM(SP_QTY) QTY, -->
<!-- 				SP_DATE -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN='003' -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,SP_DATE  -->
<!-- 		) D -->
<!-- 		ON Z.SP_CD=D.SP_CD -->
	
<!-- 		LEFT OUTER JOIN  -->
<!-- 		( -->
<!-- 			SELECT  -->
<!-- 				SP_CD, -->
<!-- 				SUM(SP_QTY) QTY -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN='004' -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,SP_GUBUN  -->
<!-- 		) E -->
<!-- 		ON Z.SP_CD=E.SP_CD -->
		
<!-- 		SELECT -->
<!-- 			Z.BARCODE_NO, -->
<!-- 			Z.SP_CD ITEM_SEQ, -->
<!-- 			(SELECT ITEM_CD FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_CD, -->
<!-- 			(SELECT ITEM_NM FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_NM, -->
<!-- 			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM WHERE BASE_CD = (SELECT ITEM_MODEL FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD) AND BASE_GROUP_CD='099') ITEM_MODEL, -->
<!-- 			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM  WHERE BASE_CD = (SELECT ITEM_UNIT FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD) AND BASE_GROUP_CD = '036') ITEM_UNIT, -->
<!-- 			(SELECT IMPORT_COST FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)IMPORT_COST, -->
<!-- 			(SELECT ITEM_GUBUN FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_GUBUN, -->
<!-- 			(SELECT ITEM_FIFO_GUBUN FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=Z.SP_CD)ITEM_FIFO_GUBUN, -->
<!-- 			ISNULL(A.QTY,0) IN_QTY, -->
<!-- 			ISNULL(B.QTY,0) OUT_QTY, -->
<!-- 			ISNULL(D.QTY,0) ADJ_IN_QTY, -->
<!-- 			ISNULL(E.QTY,0) ADJ_OUT_QTY, -->
<!-- 			(ISNULL(A.QTY,0)+ISNULL(D.QTY,0))-ISNULL(B.QTY,0)-ISNULL(E.QTY,0) REMAIN_QTY, -->
<!-- 			0 PRE_OUT_QTY, -->
<!-- 			Z.LOCATION_CD, -->
<!-- 			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=Z.LOCATION_CD AND X.BASE_GROUP_CD='073')LOCATION_NM, -->
<!-- 			Z.AREA_CD, -->
<!-- 			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=Z.AREA_CD AND X.BASE_GROUP_CD='067')AREA_NM, -->
<!-- 			Z.FLOOR_CD, -->
<!-- 			Z.FLOOR_CD FLOOR_NM, -->
<!-- 			Z.LOCATION_NO, -->
<!-- 			(CASE WHEN A.SP_DATE IS NULL THEN D.SP_DATE ELSE A.SP_DATE END) IN_DATE -->
<!-- 		FROM  -->
<!-- 			( -->
<!-- 			SELECT  -->
<!-- 				SP_TYPE, -->
<!-- 				SP_CD, -->
<!-- 				BARCODE_NO, -->
<!-- 				LOCATION_CD, -->
<!-- 				AREA_CD, -->
<!-- 				FLOOR_CD, -->
<!-- 				LOCATION_NO -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN IN('001','003') -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,BARCODE_NO,LOCATION_CD,AREA_CD,FLOOR_CD,LOCATION_NO -->
<!-- 		) Z -->
<!-- 		LEFT OUTER JOIN -->
<!-- 		( -->
<!-- 			SELECT  -->
<!-- 				SP_CD, -->
<!-- 				SUM(SP_QTY) QTY, -->
<!-- 				SP_DATE -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN='001' -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,SP_DATE -->
<!-- 		) A -->
<!-- 		ON Z.SP_CD=A.SP_CD -->
	
<!-- 		LEFT OUTER JOIN  -->
<!-- 		( -->
<!-- 			SELECT -->
<!-- 				SP_CD, -->
				
<!-- 				SUM(SP_QTY) QTY -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN='002' -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,SP_GUBUN  -->
<!-- 		) B -->
<!-- 		ON Z.SP_CD=B.SP_CD -->
<!-- 		LEFT OUTER JOIN  -->
<!-- 		( -->
<!-- 			SELECT  -->
<!-- 				SP_CD, -->
<!-- 				SUM(SP_QTY) QTY, -->
<!-- 				SP_DATE -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN='003' -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,SP_DATE  -->
<!-- 		) D -->
<!-- 		ON Z.SP_CD=D.SP_CD -->
	
<!-- 		LEFT OUTER JOIN  -->
<!-- 		( -->
<!-- 			SELECT  -->
<!-- 				SP_CD, -->
<!-- 				SUM(SP_QTY) QTY -->
<!-- 			FROM TB_STOCK_PAYMENT_ADM -->
<!-- 			WHERE 1=1 -->
<!-- 			AND BARCODE_NO = #{barcodeNo} -->
<!-- 			AND SP_GUBUN='004' -->
<!-- 			AND LOCATION_CD = #{locationCd} -->
<!-- 			GROUP BY SP_TYPE,SP_CD,SP_GUBUN  -->
<!-- 		) E -->
<!-- 		ON Z.SP_CD=E.SP_CD -->
	</select>
	
	<!-- 재공창고현황 -->
	<!-- 재공창고현황 기본조회 -->
	<select id="wareHouseList" resultMap="OutWhsAdmVo">
		 SELECT 
			A.PART_CD
			,A.PART_REV
			, A.PART_NM
			, A.PART_SPEC
			,(SELECT BASE_NM FROM TB_COMMON_CODE_ADM  WHERE BASE_CD = A.PART_UNIT AND BASE_GROUP_CD='035')PART_GUBUN
			, A.PART_UNIT
			, (SELECT BASE_NM FROM TB_COMMON_CODE_ADM  WHERE BASE_CD = A.PART_UNIT AND BASE_GROUP_CD='036')PART_UNIT_NM
			,ISNULL(SUM(B.PRE_OUT_QTY),0) PRE_OUT_QTY
			,ISNULL(SUM(B.OUT_QTY),0) OUT_QTY
			,ISNULL(SUM(B.PRE_OUT_QTY),0)-ISNULL(SUM(B.OUT_QTY),0) REAL_QTY
		FROM TB_ITEM_PART_ADM A
		LEFT OUTER JOIN TB_OUT_WHS_ADM B
		ON A.PART_CD=B.PART_CD
		AND A.PART_REV=B.PART_REV
		GROUP BY A.PART_CD, A.PART_REV,A.PART_NM,A.PART_SPEC,A.PART_GUBUN,A.PART_UNIT
		<if test="realQtyOption!=null and !realQtyOption.equals('')">
		HAVING ISNULL(SUM(B.PRE_OUT_QTY),0)-ISNULL(SUM(B.OUT_QTY),0) > 0
		</if>
		ORDER BY A.PART_CD 
	</select>
	
	<!-- 재공창고현황 상세조회 -->
	<select id="wareHouseRead" resultMap="OutWhsAdmVo">
		 SELECT 
			BARCODE_NO
			,PART_CD
			,PART_REV
			,ISNULL(SUM(PRE_OUT_QTY),0) PRE_OUT_QTY
			,ISNULL(SUM(OUT_QTY),0) OUT_QTY
			,ISNULL(SUM(PRE_OUT_QTY),0)-ISNULL(SUM(OUT_QTY),0) REAL_QTY
			,PRE_OUT_WHS_DATE
			,OUT_WHS_DATE
			,OUT_CASE
		FROM TB_OUT_WHS_ADM
		WHERE 1=1
		AND PART_CD=#{partCd}
		AND PART_REV=#{partRev}
		GROUP BY BARCODE_NO,PART_CD,PART_REV,PRE_OUT_WHS_DATE,OUT_WHS_DATE,OUT_CASE
		ORDER BY PRE_OUT_WHS_DATE DESC
	</select>
	
	<!--선입선출(원재료/제품) -->
	<select id="fifoList" resultMap="OutWhsAdmVo">
		SELECT
			ITEM_SEQ,
			MAIN_GUBUN,
			ITEM_GUBUN,
			ITEM_CD,
			ITEM_NM,
			ITEM_MODEL,
			A.BARCODE_NO,
			(CASE WHEN A.SP_DATE IS NULL THEN D.SP_DATE ELSE A.SP_DATE END) IN_DATE,
			(SELECT LOC_CD FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN D.LOCATION_NO ELSE A.LOCATION_NO END)) LOCATION_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=(SELECT LOC_CD FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN D.LOCATION_NO ELSE A.LOCATION_NO END)) AND X.BASE_GROUP_CD='073') LOCATION_NM,	
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=(SELECT AREA_CD FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN D.LOCATION_NO ELSE A.LOCATION_NO END)) AND X.BASE_GROUP_CD='067') AREA_NM,	
			(SELECT FLOOR_NM FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN D.LOCATION_NO ELSE A.LOCATION_NO END)) FLOOR_NM,
			ISNULL(A.QTY,0)+ISNULL(D.QTY,0)-ISNULL(B.QTY,0)-ISNULL(E.QTY,0) REMAIN_QTY
		FROM 
			(
			SELECT *
			FROM TB_ITEM_INFO_ADM
		) Z
		LEFT OUTER JOIN
		(
			SELECT 
				SP_CD,
				SP_DATE,
				BARCODE_NO,
				SUM(SP_QTY) QTY,
				LOCATION_NO
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND SP_TYPE = #{itemGubun}
			AND SP_GUBUN = '001'
			AND LOCATION_CD = #{locationCd}
			GROUP BY SP_TYPE,SP_GUBUN,SP_CD,SP_DATE,BARCODE_NO,LOCATION_NO
		) A
		ON Z.ITEM_SEQ=A.SP_CD
		LEFT OUTER JOIN 
		(
			SELECT
				SP_CD,
				BARCODE_NO,
				SUM(SP_QTY) QTY
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND SP_TYPE = #{itemGubun}
			AND SP_GUBUN = '002'
			AND LOCATION_CD =#{locationCd}
			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,BARCODE_NO
		) B
		ON Z.ITEM_SEQ=B.SP_CD
		AND A.BARCODE_NO=B.BARCODE_NO
		LEFT OUTER JOIN 
		(
			SELECT 
				SP_CD,
				SP_DATE,
				BARCODE_NO,
				SUM(SP_QTY) QTY,
				LOCATION_NO
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND SP_TYPE = #{itemGubun}
			AND SP_GUBUN = '003'
			AND LOCATION_CD =#{locationCd}
			GROUP BY SP_TYPE,SP_CD,SP_DATE,SP_GUBUN,BARCODE_NO,LOCATION_NO
		) D
		ON Z.ITEM_SEQ=D.SP_CD
		AND A.BARCODE_NO=D.BARCODE_NO
		LEFT OUTER JOIN 
		(
			SELECT 
				SP_CD,
				BARCODE_NO,
				SUM(SP_QTY) QTY
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND SP_TYPE = #{itemGubun}
			AND SP_GUBUN ='004'
			AND LOCATION_CD =#{locationCd}
			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,BARCODE_NO
		) E
		ON Z.ITEM_SEQ=E.SP_CD
		AND A.BARCODE_NO=E.BARCODE_NO
		WHERE 1=1
		AND Z.ITEM_SEQ = #{itemSeq}
		AND A.SP_DATE <![CDATA[<=]]> (
								SELECT SP_DATE
								FROM TB_STOCK_PAYMENT_ADM
								WHERE 1=1
								AND SP_SUB_GUBUN IN ('자재입고','초기입고')
								AND BARCODE_NO = #{barcodeNo}
								AND LOCATION_CD = #{locationCd}
							)
		AND A.BARCODE_NO <![CDATA[<=]]> #{barcodeNo}
		AND ISNULL(A.QTY,0)+ISNULL(D.QTY,0)-ISNULL(B.QTY,0)-ISNULL(E.QTY,0) > 0
		AND A.BARCODE_NO != #{barcodeNo}
		ORDER BY A.SP_DATE ASC, A.BARCODE_NO ASC
	</select>
	
		
	<!--출하요청 선입선출 -->
	<select id="itemReqFifoList" resultMap="OutWhsAdmVo">
		SELECT
			ITEM_SEQ,
			MAIN_GUBUN,
			ITEM_GUBUN,
			ITEM_CD,
			ITEM_NM,
			ITEM_MODEL,
			A.SP_DATE,
			A.BARCODE_NO,
			(CASE WHEN A.SP_DATE IS NULL THEN A.SP_DATE ELSE A.SP_DATE END) IN_DATE,
			(SELECT LOC_CD FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN A.LOCATION_NO ELSE A.LOCATION_NO END)) LOCATION_CD,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=(SELECT LOC_CD FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN A.LOCATION_NO ELSE A.LOCATION_NO END)) AND X.BASE_GROUP_CD='073') LOCATION_NM,	
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=(SELECT AREA_CD FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN A.LOCATION_NO ELSE A.LOCATION_NO END)) AND X.BASE_GROUP_CD='067') AREA_NM,	
			(SELECT FLOOR_NM FROM TB_LOCATION_ADM X WHERE X.LOC_NO=(CASE WHEN A.LOCATION_NO IS NULL THEN A.LOCATION_NO ELSE A.LOCATION_NO END)) FLOOR_NM,
			ISNULL(A.QTY,0)-ISNULL(B.QTY,0) REMAIN_QTY
		FROM 
			(
			SELECT *
			FROM TB_ITEM_INFO_ADM
		) Z
		LEFT OUTER JOIN
		(
			SELECT 
				SP_CD,
				SP_DATE,
				BARCODE_NO,
				SUM(SP_QTY) QTY,
				LOCATION_NO
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND SP_TYPE = #{itemGubun}
			AND SP_GUBUN = '001'
			AND SP_SUB_GUBUN IN ('제품입고','초기입고')
			AND LOCATION_CD = '002'
			GROUP BY SP_TYPE,SP_GUBUN,SP_CD,SP_DATE,BARCODE_NO,LOCATION_NO
		) A
		ON Z.ITEM_SEQ=A.SP_CD
		LEFT OUTER JOIN 
		(
			SELECT
				SP_CD,
				BARCODE_NO,
				SUM(SP_QTY) QTY
			FROM TB_STOCK_PAYMENT_ADM
			WHERE 1=1
			AND SP_TYPE = #{itemGubun}
			AND SP_GUBUN = '002'
			AND SP_SUB_GUBUN = '제품출고'
			AND LOCATION_CD ='002'
			GROUP BY SP_TYPE,SP_CD,SP_GUBUN,BARCODE_NO
		) B
		ON Z.ITEM_SEQ=B.SP_CD
		AND A.BARCODE_NO=B.BARCODE_NO
		WHERE 1=1
		AND Z.ITEM_SEQ = #{itemSeq}
		AND A.SP_DATE <![CDATA[<=]]> (
								SELECT SP_DATE
								FROM TB_STOCK_PAYMENT_ADM
								WHERE 1=1
								AND SP_SUB_GUBUN IN ('제품입고','초기입고')
								AND BARCODE_NO = #{barcodeNo}
								AND LOCATION_CD = '002'
							)
		AND A.BARCODE_NO <![CDATA[<=]]> #{barcodeNo}
		AND ISNULL(A.QTY,0)-ISNULL(B.QTY,0) > 0
		AND A.BARCODE_NO != #{barcodeNo}
		ORDER BY A.SP_DATE ASC, A.BARCODE_NO ASC
	</select>
	
	<!-- 자재투입 선입선출 -->
	<select id="fifoList2" resultMap="OutWhsAdmVo">
		SELECT
			A.PO_NO,
			A.PO_SEQ,
			A.IN_SEQ,
			A.OUT_SEQ,
			A.OUT_CASE,
			A.BARCODE_NO,
			A.WORK_ORD_NO,
			A.ITEM_SEQ,
			(SELECT ITEM_GUBUN FROM TB_ITEM_INFO_ADM X WHERE X.ITEM_SEQ=A.ITEM_SEQ) ITEM_GUBUN,
			ISNULL(A.PRE_OUT_QTY,0) PRE_OUT_QTY,
			ISNULL(A.OUT_QTY,0) OUT_QTY,
			LOCATION_CD,
			AREA_CD,
			FLOOR_CD,
			LOCATION_NO
		FROM TB_OUT_WHS_ADM A
		WHERE 1=1
		AND LOCATION_NO = #{locationNo}
		AND A.BARCODE_NO <![CDATA[<=]]> #{barcodeNo}
		AND A.BARCODE_NO != #{barcodeNo}
		AND ISNULL(A.PRE_OUT_QTY,0) - ISNULL(A.OUT_QTY,0) > 0
	</select>
	
	
</mapper>
	