<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.io.purchaseOrderReturnMapper">

	<resultMap id="PurchaseOrderReturnVo" type="mes.domain.io.PurchaseOrderReturnVo">
		<result property="retnNo"				column="RETN_NO"			/>
		<result property="unfitNo"				column="UNFIT_NO"	/>
		<result property="unfitResultNo"		column="UNFIT_RESULT_NO"	/>
		<result property="itemSeq"		    	column="ITEM_SEQ"			/>
		<result property="itemCd"		    	column="ITEM_CD"			/>
		<result property="itemNm"		    	column="ITEM_NM"			/>
		<result property="itemGubun"		    column="ITEM_GUBUN"			/>
		<result property="itemGubunNm"		    column="ITEM_GUBUN_NM"		/>
		<result property="returnQty"			column="RETURN_QTY"			/>
		<result property="returnDate"			column="RETURN_DATE"		/>
		<result property="returnChargr"			column="RETURN_CHARGR"		/>
		<result property="returnChargrNm"		column="RETURN_CHARGR_NM"	/>
		<result property="approvalYn"			column="APPROVAL_YN"		/>	
		<result property="approvalYnNm"			column="APPROVAL_YN_NM"		/>			
		<result property="returnDesc"			column="RETURN_DESC"		/>
		<result property="dealCorpCd"			column="DEAL_CORP_CD"		/>	
		<result property="dealCorpNm"			column="DEAL_CORP_NM"		/>	
		<result property="startDate"			column="START_DATE"			/>
		<result property="endDate"				column="END_DATE"			/>
		<result property="regId"				column="REG_ID"				/>
		<result property="regDate"				column="REG_DATE"			/>
		<result property="updId"				column="UPD_ID"				/>
		<result property="updDate"				column="UPD_DATE"			/>
		<result property="unfitFaultyDate"		column="UNFIT_FAULTY_DATE"		/>
		<result property="unfitFaultyChargr"	column="UNFIT_FAULTY_CHARGR"	/>
		<result property="unfitFaultyChargrNm"	column="UNFIT_FAULTY_CHARGR_NM"	/>
		<result property="unfitLot"				column="UNFIT_LOT"			/>
		<result property="mainGubun"			column="MAIN_GUBUN"			/>
		<result property="faultyDtl"			column="FAULTY_DTL"			/>
		<result property="faultyQty"			column="FAULTY_QTY"			/>
	</resultMap>	

	<!--반품번호 생성 -->
	<select id="getRetnNo" resultType="String">
		SELECT ISNULL(RIGHT('000' + CAST(MAX(RIGHT(RETN_NO,3))+1 AS NVARCHAR),3), '001') 
		FROM TB_PURCHASE_ORDER_RETURN  
		WHERE SUBSTRING(RETN_NO,0,9) = #{date}
	</select>
	
	<!--반품 목록조회 -->
	<select id="purchaseOrderReturnList" resultMap="PurchaseOrderReturnVo">
		SELECT 
			POR.RETN_NO,
			URA.UNFIT_RESULT_NO,
			URA.UNFIT_NO,
			IIA.ITEM_CUS DEAL_CORP_CD,
			(SELECT DEAL_CORP_NM FROM TB_DEAL_CORP_ADM X WHERE X.DEAL_CORP_CD=IIA.ITEM_CUS) DEAL_CORP_NM,
			IIA.ITEM_GUBUN,
			(SELECT BASE_NM FROM TB_COMMON_CODE_ADM X WHERE X.BASE_CD=IIA.ITEM_GUBUN AND X.BASE_GROUP_CD='079') ITEM_GUBUN_NM,
			IIA.ITEM_SEQ,
			IIA.ITEM_CD,
			IIA.ITEM_NM,
			IIA.MAIN_GUBUN,
			URA.UNFIT_LOT,
			URA.UNFIT_FAULTY_DATE,
			URA.UNFIT_FAULTY_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=URA.UNFIT_FAULTY_CHARGR) UNFIT_FAULTY_CHARGR_NM,
			URA.UNFIT_FAULTY_CNT RETURN_QTY,
			POR.RETURN_DATE,
			POR.RETURN_CHARGR,
			(SELECT USER_NM FROM TB_USER X WHERE X.USER_NUMBER=POR.RETURN_CHARGR) RETURN_CHARGR_NM,
			POR.RETURN_DESC,
			FAULTY_DTL,
			FAULTY_QTY
		FROM TB_UNFIT_ADM UA
		LEFT OUTER JOIN TB_UNFIT_RESULT_ADM URA
		ON UA.UNFIT_NO=URA.UNFIT_NO
		LEFT OUTER JOIN TB_PURCHASE_ORDER_RETURN POR
		ON URA.UNFIT_RESULT_NO=POR.UNFIT_RESULT_NO
		LEFT OUTER JOIN TB_ITEM_INFO_ADM IIA
		ON SUBSTRING(UA.UNFIT_LOT,1,6)=IIA.ITEM_SEQ
		LEFT JOIN (
			SELECT 
				UA_TB.UNFIT_NO
				, (SELECT BASE_INFO_NM FROM TB_BASE_INFO_ADM X WHERE X.BASE_INFO_TYPE='FT' AND X.BASE_INFO_CD=IFA_TB.FAULTY_TYPE_CD) FAULTY_DTL
				, ISNULL(IFA_TB.FAULTY_TYPE_QTY, 0) FAULTY_QTY
			FROM TB_ITEM_INSPECT_ADM IIA_TB
			LEFT JOIN TB_IN_OUT_WHS_ADM IOWA_TB
			ON IOWA_TB.IN_SLIP_NO = IIA_TB.IN_SLIP_NO
			AND IOWA_TB.IN_SLIP_SEQ = IIA_TB.IN_SLIP_SEQ
			LEFT JOIN TB_ITEM_INSPECT_MASTER_ADM IIMA_TB
			ON IOWA_TB.IN_SLIP_NO = IIMA_TB.IN_SLIP_NO
			LEFT JOIN TB_ITEM_INSPECT_FAULTY_TYPE IFA_TB
			ON IIA_TB.IN_SLIP_NO = IFA_TB.IN_SLIP_NO
			AND IIA_TB.IN_SLIP_SEQ = IFA_TB.IN_SLIP_SEQ
			AND IFA_TB.FAULTY_TYPE_QTY>0
			LEFT JOIN TB_UNFIT_ADM UA_TB
			ON IOWA_TB.BARCODE_NO = UA_TB.UNFIT_LOT		
			AND IFA_TB.FAULTY_TYPE_CD  = UA_TB.FAULTY_CD
			AND UA_TB.UNFIT_GUBUN = '001'
			LEFT OUTER JOIN TB_UNFIT_RESULT_ADM URA
			ON URA.UNFIT_NO=UA_TB.UNFIT_NO
			LEFT JOIN TB_ITEM_INFO_ADM IINA_TB
			ON IIA_TB.ITEM_SEQ = IINA_TB.ITEM_SEQ
			WHERE 1=1
			AND IIA_TB.QA_EVAL = '002'
			AND IINA_TB.MAIN_GUBUN = #{mainGubun}
			AND URA.UNFIT_PROC='002'
			AND UA_TB.APPROVAL_YN='Y'
		) X
		ON X.UNFIT_NO = UA.UNFIT_NO
		WHERE 1=1
		<if test="mainGubun!=null and !mainGubun.equals('')">
		AND IIA.MAIN_GUBUN=#{mainGubun}
		</if>
		<if test="startDate!=null and !startDate.equals('')">
		AND POR.RETURN_DATE BETWEEN #{startDate} AND #{endDate}
		</if>
		AND URA.UNFIT_PROC='002'
		AND URA.UNFIT_FAULTY_CNT<![CDATA[>]]>0
		AND UA.APPROVAL_YN = 'Y'
	</select>
	
	
	<!--반품 등록  -->
	<insert id="purchaseOrderReturnCreate">
		INSERT INTO TB_PURCHASE_ORDER_RETURN(
			RETN_NO,
			UNFIT_RESULT_NO,
			RETURN_QTY,
			RETURN_DATE,
			RETURN_CHARGR,
			APPROVAL_YN,
			RETURN_DESC,
			REG_ID,
			REG_DATE
		) 
		VALUES(
			#{retnNo},
			#{unfitResultNo},
			#{returnQty},
			#{returnDate},
			#{returnChargr},
			#{approvalYn},
			#{returnDesc},
			#{regId},
			GETDATE()
		)
	</insert>
	
	
	<!--반품 수정  -->
	<update id="purchaseOrderReturnUpdate">
		UPDATE	TB_PURCHASE_ORDER_RETURN 
		<set>
			<if test="returnQty!=null and !returnQty.equals('')">
			RETURN_QTY = #{returnQty},
			</if>
			<if test="returnDate!=null and !returnDate.equals('')">
			RETURN_DATE = #{returnDate},
			</if>
			<if test="returnChargr!=null and !returnChargr.equals('')">
			RETURN_CHARGR = #{returnChargr},
			</if>
			<if test="approvalYn!=null and !approvalYn.equals('')">
			APPROVAL_YN = #{approvalYn},
			</if>
			<if test="returnDesc!=null and !returnDesc.equals('')">
			RETURN_DESC = #{returnDesc},
			</if>
			UPD_ID = #{updId},
			UPD_DATE = GETDATE
		</set>
		WHERE 1=1
		AND RETN_NO = #{retnNo}
	</update>
	
	<!--반품 삭제  -->
	<delete id="purchaseOrderReturnDelete">
		DELETE FROM TB_PURCHASE_ORDER_RETURN 
		WHERE	RETN_NO = #{retnNo}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>