<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.mt.controllSystemMapper">

	<resultMap id="ControllSystemVo" type="mes.domain.mt.ControllSystemVo">
		<result property="idx"				column="IDX"			/>
		<result property="factoryGubun"		column="FACTORY_GUBUN"	/>
		<result property="beCd"				column="BE_CD"			/>
		<result property="beDate"			column="BE_DATE"		/>
		<result property="beDateMonth"		column="BE_DATE_MONTH"	/>
		<result property="beDateDay"		column="BE_DATE_DAY"	/>
		<result property="beDateHour"		column="BE_DATE_HOUR"	/>
		<result property="beData"			column="BE_DATA"		/>
		<result property="regId"			column="REG_ID"			/>
		<result property="regDate"			column="REG_DATE"		/>
		<result property="updId"			column="UPD_ID"			/>
		<result property="updDate"			column="UPD_DATE"		/>
		
		<result property="startDate"		column="START_DATE"		/>
		<result property="endDate"			column="END_DATE"		/>
		
		<result property="airCondHumi"		column="AirCondHumi"	/>
		<result property="airCondTemp"		column="AirCondTemp"	/>
		<result property="laserRoomTemp"	column="LaserRoomTemp"	/>
		<result property="laserRoomHumi"	column="LaserRoomHumi"	/>
	</resultMap>
	
	<!-- 전기량, 온습도 현황 리스트 -->
	<select id="controllSystemList" resultMap="ControllSystemVo">
		<![CDATA[
			SELECT
				IDX
			    , FACTORY_GUBUN
			    , BE_CD
			    , BE_DATE
				, RIGHT(LEFT(BE_DATE, 6), 2) BE_DATE_MONTH
				, RIGHT(LEFT(BE_DATE, 8), 2) BE_DATE_DAY
				, RIGHT(LEFT(BE_DATE, 10), 2) BE_DATE_HOUR
			    , BE_DATA
				, (SELECT etc2 FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '152' AND X.BASE_ABBR = FACTORY_GUBUN AND X.ETC1 = BE_CD) MIN_DATA
				, (SELECT etc3 FROM TB_COMMON_CODE_ADM X WHERE X.BASE_GROUP_CD = '152' AND X.BASE_ABBR = FACTORY_GUBUN AND X.ETC1 = BE_CD) MAX_DATA
			    , REG_ID
			    , REG_DATE
			    , UPD_ID
				, UPD_DATE
			FROM TB_FACT_HVAC
		]]>
		<if test="beCd == '001'">
			WHERE 
				LEFT(BE_DATE, 4) = ${beDate}
				AND BE_CD = '001'
		</if>
		<if test="beCd != '001'">
			WHERE 
				LEFT(BE_DATE, 8) = ${beDate}
				AND (BE_CD = '002' OR BE_CD = '003')
		</if>
			ORDER BY BE_DATE ASC
	</select>
	
	<insert id="controllSystemCreate">
		<![CDATA[
			INSERT INTO TB_FACT_HVAC (
				FACTORY_GUBUN
			    , BE_CD
			    , BE_DATE
			    , BE_DATA
			    , REG_ID
			    , REG_DATE
			) VALUES (
				#{factoryGubun}
				, #{beCd}
				, #{beDate}
				, #{beData}
				, #{regId}
				, GETDATE()
			)
		]]>
	</insert>
	
	<!-- 전기량, 온습도 현황 리스트 -->
	<select id="controllSystemBoardList" resultMap="ControllSystemVo">
		<![CDATA[
			SELECT
				* 
			FROM TB_FACT_HVAC 
			WHERE 
				BE_DATE >= #{startDate}
				AND BE_DATE <= #{endDate}
				AND FACTORY_GUBUN = #{factoryGubun}
			ORDER BY BE_DATE ASC
		]]>
	</select>
	
	<!-- 레이저 온습도 현황 리스트 -->
	<select id="controllSystemLaser" resultMap="ControllSystemVo">
		<![CDATA[	
			SELECT TOP 1
				LaserRoomTemp,
				LaserRoomHumi
			FROM TB_TESTBED_EMS_INFO
			WHERE 
				RegDate >= #{startDate}
				AND RegDate <= #{endDate}
			ORDER BY RegDate DESC
		]]>
	</select>

	<!-- 레이저 온습도 현황 리스트 -->
	<select id="controllSystemLaserList" resultMap="ControllSystemVo">
		<![CDATA[		
			SELECT
				A.date BE_DATE,
				AVG(LaserRoomTemp) LaserRoomTemp,
				AVG(LaserRoomHumi) LaserRoomHumi
			FROM
			(
				SELECT
					LaserRoomTemp,
					LaserRoomHumi,
					DATEPART(hh,RegDate) date
				FROM TB_TESTBED_EMS_INFO
				WHERE 
					RegDate >= #{startDate}
					AND RegDate <= #{endDate}
			) A
			GROUP BY A.date
			ORDER BY A.date ASC
		]]>
	</select>
	
	<!-- 후가공 온습도 대쉬보드 현황 -->
	<select id="controllSystemFinish" resultMap="ControllSystemVo">
		<![CDATA[	
			SELECT TOP 1
				AirCondTemp,
				AirCondHumi
			FROM TB_TESTBED_EMS_INFO
			WHERE 
				RegDate >= #{startDate}
				AND RegDate <= #{endDate}
			ORDER BY RegDate DESC
		]]>
	</select>
	
	<!-- 후가공 온습도 리스트 현황 -->
	<select id="controllSystemFinishList" resultMap="ControllSystemVo">
		<![CDATA[		
			SELECT
				A.date BE_DATE,
				AVG(AirCondTemp) AirCondTemp,
				AVG(AirCondHumi) AirCondHumi
			FROM
			(
				SELECT
					AirCondTemp,
					AirCondHumi,
					DATEPART(hh,RegDate) date
				FROM TB_TESTBED_EMS_INFO
				WHERE 
					RegDate >= #{startDate}
					AND RegDate <= #{endDate}
			) A
			GROUP BY A.date
			ORDER BY A.date ASC
		]]>
	</select>
	
</mapper>
