<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
<mapper namespace="mes.mappers.mt.laserInspResultMapper">

	<resultMap id="LaserInspResultVo" type="mes.domain.mt.LaserInspResultVo">
		<result property="inspNo"				column="InspNo"				/>
		<result property="inspType"				column="InspType"			/>
		<result property="workOrdNo"			column="WorkOrdNo"			/>
		<result property="inspDatetime"			column="InspDatetime"		/>
		<result property="inspCount"			column="InspCount"			/>
		<result property="inspResult"			column="InspResult"			/>
		<result property="inspPosMoveX"			column="InspPosMoveX"		/>
		<result property="inspPosMoveY"			column="InspPosMoveY"		/>
		<result property="inspResultCenterX"	column="InspResultCenterX"	/>
		<result property="inspResultCenterY"	column="InspResultCenterY"	/>
		<result property="inspResultSizeX"		column="InspResultSizeX"	/>
		<result property="inspResultSizeY"		column="InspResultSizeY"	/>
	</resultMap>
	
	<!-- 레이저 측정검사 작지별 목록조회 -->
	<select id="laserInspResultList" resultMap="LaserInspResultVo">
		<![CDATA[
			SELECT
				InspNo,
				InspType,
				WorkOrdNo,
				InspCount,
				InspResult,
				InspResultCenterX,
				InspResultCenterY,
				InspResultSizeX,
				InspResultSizeY
			FROM TB_LASER_INSP_RESULT LIR
			WHERE 1=1
			AND WorkORdNo = #{workOrdNo}
			AND InspNo IN (SELECT
								InspNo
							FROM (SELECT
									InspType,
									MAX(InspNo) InspNo
								FROM TB_LASER_INSP_RESULT
								WHERE 1=1
								AND WorkORdNo = #{workOrdNo}
								GROUP BY
									InspType) T)
			ORDER BY
				CONVERT(INT, InspCount) ASC
		]]>
	</select>
</mapper>
